{% extends "anketa/base.html" %}
{% load staticfiles %}


{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>

<script>
	/*
	............................................________ 
	....................................,.-'"...................``~., 
	.............................,.-"..................................."-., 
	.........................,/...............................................":, 
	.....................,?......................................................, 
	.................../...........................................................,} 
	................./......................................................,:`^`..} 
	.............../...................................................,:"........./ 
	..............?.....__.........................................:`.........../ 
	............./__.(....."~-,_..............................,:`........../ 
	.........../(_...."~,_........"~,_....................,:`........_/ 
	..........{.._$;_......"=,_......."-,_.......,.-~-,},.~";/....} 
	...........((.....*~_......."=-._......";,,./`..../"............../ 
	...,,,___.`~,......"~.,....................`.....}............../ 
	............(....`=-,,.......`........................(......;_,,-" 
	............/.`~,......`-...................................../ 
	.............`~.*-,.....................................|,./.....,__ 
	,,_..........}.>-._...................................|..............`=~-, 
	.....`=~-,__......`,................................. 
	...................`=~-,,.,............................... 
	................................`:,,...........................`..............__ 
	.....................................`=-,...................,%`>--==`` 
	........................................_..........._,-%.......` 
	..................................., 
	*/
	// first page
	var usernameError=true;
	var emailError=true;
	var pwdError=true;
	var pwdVerError=true;
	function SetIcon(field, status)
	{
		if(status==="okay")
		{
			$("#"+field+"Field").attr("class","has-success has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#"+field+"Icon").attr("class","glyphicon glyphicon-ok form-control-feedback");
			$("#"+field+"FieldDescr").html("");
		}
		else if(status==="error")
		{
			$("#"+field+"Field").attr("class","has-error has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#"+field+"Icon").attr("class","glyphicon glyphicon-remove form-control-feedback");
			$("#"+field+"FieldDescr").html("Error");

		}
		else if(status==="")
		{
			$("#"+field+"Field").attr("class","has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#"+field+"Icon").attr("class","");
			$("#"+field+"FieldDescr").html("");
		}
		var string = "#"+field+"Field";
		
	}
	$("#usernameField").focusout(function()
	{
		$usernameError=true;
		if($("#username").val().length === 0)
		{
			SetIcon("username","");
			return;
		}
		$.ajax(
		{
			url:"{% url 'authapp:checkUserValid' %}",
			method:"GET",
			data:{'username':$('#username').val()},
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				if(parseInt(data['result'])===1)
				{
					SetIcon("username","error");
					$("#usernameFieldDescr").html(data['error_msg']);
				}
				else
				{
					SetIcon("username","okay");
					$usernameError=false;
				}
				
			},
			error:function(){
				alert('Check Internet connnection!');
			}
		});
	});
	$("#emailField").focusout(function()
	{
		$emailError=true;
		if($("#email").val().length === 0)
		{
			SetIcon("email","");
			return;
		}
		var emailReg = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		if(!emailReg.test($("#email").val()))
		{
			SetIcon("email","error");
			$("#emailFieldDescr").html("Incorrect e-mail format");
			return;
		}
		$.ajax(
		{
			url:"{% url 'authapp:checkEmailValid' %}",
			method:"GET",
			data:{'email':$('#email').val()},
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				if(parseInt(data['result'])===1)
				{
					SetIcon("email","error");
					$("#emailFieldDescr").html(data['error_msg']);
				}
				else
				{
					SetIcon("email","okay");
					$("#emailFieldDescr").html("");
					$emailError=false;
				}
				
			},
			error:function(){
				alert('Check Internet connnection!');
			}
		});
	});
	$("#passwordVerifyField").focusout(function()
	{
		pwdVerError=true;
		if($("#passwordVerify").val().length===0 || $("#password").val().length===0)
		{
			SetIcon("passwordVerify","");
			return false;
		}
		if($("#password").val().length!=0 && $("#passwordVerify").val().length!=0)
		{
			if($("#password").val() === $("#passwordverify").val())
			{
				SetIcon("passwordVerify","okay");
				pwdVerError=false;
			}
			else
			{
				SetIcon("passwordVerify","error");
				$("#passwordVerifyFieldDescr").html("check");
			}
		}
	});
	$("#password").focusout(function()
	{
		pwdError=true;
		if($("#password").val().length===0)
		{
			SetIcon("password","");
			return false;
		}
		if($("#password").val().length>=6)
		{
			SetIcon("password","okay");
			pwdError=false;
		}
		else
		{
			SetIcon("password","error");
			$("#passwordFieldDescr").html("Minimum password length is 6");
		}
	});
	// second page
	var fnameError=true;
	var snameError=true;
	var mnameError=true;
	var dateError=true;
	var sexError=true;
	var symbolsValid = /^[а-яА-ЯЁё]+$/;
	$("#fName").focusout(function()
	{
		fnameError=true;
		if($("#fName").val().length===0)
		{
			SetIcon("fName","");
			return;
		}
		if(!symbolsValid.test($("#fName").val()))
		{
			SetIcon("fName","error");
		}
		else
		{
			SetIcon("fName","okay");
			fnameError=false;
		}
	});
	$("#sName").focusout(function()
	{
		snameError=true;
		if($("#sName").val().length===0)
		{
			SetIcon("#sName","");
			return;
		}
		if(!symbolsValid.test($("#sName").val()))
		{
			SetIcon("sName","error");
		}
		else
		{
			SetIcon("sName","okay");
			fnameError=false;
		}
	});
	$("#mName").focusout(function()
	{
		mnameError=true;
		if($("#mName").val().length===0)
		{
			SetIcon("mName","");
			return;
		}
		if(!symbolsValid.test($("#mName").val()))
		{
			SetIcon("mName","error");
		}
		else
		{
			SetIcon("mName","okay");
			mnameError=false;
		}
	});
	$("#birthday").focusout(function()
	{
		dateError=true;
		var dtRegex =/^\d{4}-\d{1,2}-\d{1,2}$/;
		if(!dtRegex.test($("#birthday").val()) || $("#birthday").val().length===0)
		{
			SetIcon("birthday","error");
			$("#birthdayField").attr("class","has-error has-feedback col-xs-3 col-sm-3 col-md-2 col-md-offset-4");
		}
		else
		{
			SetIcon("birthday","okay");
			$("#birthdayField").attr("class","has-success has-feedback col-xs-3 col-sm-3 col-md-2 col-md-offset-4");
			dateError=false;
		}
	});
	$(document).ready(function() 
	{
		$('#rootwizard').bootstrapWizard(
		{
			onTabShow: function(tab, navigation, index) 
			{
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				document.getElementById("progress-bar").style.width=$percent+'%';
				// If it's the last tab then hide the last button and show the finish instead
				if($current >= $total) 
				{
					$('#rootwizard').find('.pager .next').hide();
					$('#rootwizard').find('.pager .finish').show();
					$('#rootwizard').find('.pager .finish').removeClass('disabled');
				} else 
				{
					$('#rootwizard').find('.pager .next').show();
					$('#rootwizard').find('.pager .finish').hide();
				}
			},
			onTabClick: function(tab, navigation, index) 
			{
				return false;
			},
			onNext: function(tab, navigation, index)
			{
				if(index===0)
				{
					//if($usernameError || $emailError || $pwdError || $pwdVerError)
						//return false;
				}
			}
		});
		$('#rootwizard .finish').click(function() 
		{
			//save data
		});
	});
</script>
{% endblock %}
{% block content %}
<form name="login_form" action="{%url 'create_person'%}" class="form-horizontal" role="form" method="post">
	<div id="rootwizard" class="col-md-8 col-md-offset-2">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container col-md-offset-2">
					<ul>
						<li><a href="#tab1" data-toggle="tab">Создание пользователя</a></li>
						<li><a href="#tab2" data-toggle="tab">Личные данные</a></li>
						<li><a href="#tab3" data-toggle="tab">Завершить</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="progress">
			<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" style=""></div>
		</div>
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
				<div class="container-fluid">
					<div class="row" >
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id ="usernameField">
							<p>
								<label for="username">Имя пользователя</label>
								<input type="text" class="form-control" name="username" id="username" placeholder="Имя пользователя">
								<span id="usernameIcon"></span>
								<span id="usernameFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="emailField">
							<p>
								<label for="email">Ваша электронная почта</label>
								<input type="text" class="form-control" name="email" id="email" placeholder="Электронная почта">
								<span id="emailIcon"></span>
								<span id="emailFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="passwordField">
							<p>
								<label class="control-label" for="password">Пароль</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Пароль">
								<span id="passwordIcon"></span>
								<span id="passwordFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="passwordVerifyField">
							<p>
								<label for="passwordverify">Повторите пароль</label>
								<input type="password" class="form-control" name="passwordVerify" id="passwordVerify" placeholder="Повторите пароль">
								<span id="passwordVerifyIcon"></span>
								<span id="passwordVerifyFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="tab2">
				<div class="container-fluid">
					<div class = "row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="sNameField">
							<p>
								<label for="sName">Фамилия</label>
								<input type = "text" name= "sName" id = "sName" class = "form-control" placeholder = "Иванов">
								<span id="sNameIcon"></span>
								<span id="sNameFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row" >
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="fNameField">
							<p>
								<label for="fName">Имя</label>
								<input type = "text" name= "fName" id = "fName" class = "form-control" placeholder = "Иван">
								<span id="fNameIcon"></span>
								<span id="fNameFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row" >
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="mNameField">
							<p>
								<label for="mName">Отчество</label>
								<input type="text" name = "mName" id ="mName" class="form-control" placeholder="Иванович">
								<span id="mNameIcon"></span>
								<span id="mNameFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-2 col-md-offset-4" id="birthdayField">
							<p>
								<label for="birthday">Дата рождения</label>
								<input type="date" name = "birthday" id ="birthday" value="1997-01-01" class="form-control">
								<span id="birthdayIcon"></span>
								<span id="birthdayFieldDescr" class="help-block"></span>
							</p>
						</div>
						<div class ="col-xs-3 col-sm-6 col-md-2" id="sexField">
							<label for="sex">Пол</label>
							<p>
								<input type="radio" name = "sex" value="p1">Мужской
								<input type="radio" name = "sex" value="p2">Женский
							</p>
							<span id="birthdayIcon"></span>
							<span id="birthdayFieldDescr" class="help-block"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab3">
				<div class="container-fluid">
					3
				</div>
			</div>
			<ul class="pager wizard">
				<li class="previous"><a href="javascript:;">Предыдущий</a></li>
				<li class="next"><a href="javascript:;">Следующий</a></li>
				<li class="next finish" style="display:none;"><a href="javascript:;">Завершить</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock%}