{% extends "anketa/base.html" %}
{% load staticfiles %}


{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>

<script>
	var usernameError=true;
	var emailError=true;
	var pwdError=true;
	/*
	............................................________ 
	....................................,.-'"...................``~., 
	.............................,.-"..................................."-., 
	.........................,/...............................................":, 
	.....................,?......................................................, 
	.................../...........................................................,} 
	................./......................................................,:`^`..} 
	.............../...................................................,:"........./ 
	..............?.....__.........................................:`.........../ 
	............./__.(....."~-,_..............................,:`........../ 
	.........../(_...."~,_........"~,_....................,:`........_/ 
	..........{.._$;_......"=,_......."-,_.......,.-~-,},.~";/....} 
	...........((.....*~_......."=-._......";,,./`..../"............../ 
	...,,,___.`~,......"~.,....................`.....}............../ 
	............(....`=-,,.......`........................(......;_,,-" 
	............/.`~,......`-...................................../ 
	.............`~.*-,.....................................|,./.....,__ 
	,,_..........}.>-._...................................|..............`=~-, 
	.....`=~-,__......`,................................. 
	...................`=~-,,.,............................... 
	................................`:,,...........................`..............__ 
	.....................................`=-,...................,%`>--==`` 
	........................................_..........._,-%.......` 
	..................................., 
	*/
	$("#usernameField").focusout(function()
	{
		if($("#username").val().length === 0)
		{
			$("#usernameField").attr("class","has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#usernameIcon").attr("class","");
			$("#usernameFieldDescr").html("");
			return;
		}
		$.ajax(
		{
			url:"{% url 'authapp:checkUserValid' %}",
			method:"GET",
			data:{'username':$('#username').val()},
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				if(parseInt(data['result'])===1)
				{
					$("#usernameField").attr("class","has-error has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
					$("#usernameIcon").attr("class","glyphicon glyphicon-remove form-control-feedback");
					$("#usernameFieldDescr").html(data['error_msg']);
					//var htmlcode= "<p><label for=\"username\">Имя пользователя</label><input type=\"text\" class=\"form-control\" name=\"username\" id=\"username\" placeholder=\"Имя пользователя\"><span class=\"glyphicon glyphicon-remove form-control-feedback\" aria-hidden=\"true\"></span></p>";
					//$("#usernameField").html(htmlcode);
					$usernameError=true;
				}
				else
				{
					$("#usernameField").attr("class","has-success has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
					$("#usernameIcon").attr("class","glyphicon glyphicon-ok form-control-feedback");
					$("#usernameFieldDescr").html("");
					$usernameError=false;
				}
				
			},
			error:function(){
				alert('Check Internet connnection!');
			}
		});
	});
	$("#emailField").focusout(function()
	{
		if($("#email").val().length === 0)
		{
			$("#emailField").attr("class","has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#emailIcon").attr("class","");
			$("#emailFieldDescr").html("");
			return;
		}
		$.ajax(
		{
			url:"{% url 'authapp:checkEmailValid' %}",
			method:"GET",
			data:{'email':$('#email').val()},
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				if(parseInt(data['result'])===1)
				{
					$("#emailField").attr("class","has-error has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
					$("#emailIcon").attr("class","glyphicon glyphicon-remove form-control-feedback");
					$("#emailFieldDescr").html(data['error_msg']);
					//var htmlcode= "<p><label for=\"username\">Имя пользователя</label><input type=\"text\" class=\"form-control\" name=\"username\" id=\"username\" placeholder=\"Имя пользователя\"><span class=\"glyphicon glyphicon-remove form-control-feedback\" aria-hidden=\"true\"></span></p>";
					//$("#usernameField").html(htmlcode);
					$emailError=true;
				}
				else
				{
					$("#emailField").attr("class","has-success has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
					$("#emailIcon").attr("class","glyphicon glyphicon-ok form-control-feedback");
					$("#emailFieldDescr").html("");
					$emailError=false;
				}
				
			},
			error:function(){
				alert('Check Internet connnection!');
			}
		});
	});
	$("#passwordField").focusout(function()
	{
		pwdError=true;
		if($("#passwordverify").val().length===0 || $("#password").val().length===0)
		{
			$("#passwordField").attr("class","has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
			$("#passwordIcon").attr("class","");
			$("#passwordFieldDescr").html("");
			return false;
		}
		if($("#password").val().length!=0 && $("#passwordverify").val().length!=0)
		{
			if($("#password").val() === $("#passwordverify").val())
			{
				$("#passwordField").attr("class","has-success has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
				$("#passwordIcon").attr("class","glyphicon glyphicon-ok form-control-feedback");
				$("#passwordFieldDescr").html("");
				pwdError=false;
			}
			else
			{
				$("#passwordField").attr("class","has-error has-feedback col-xs-12 col-sm-12 col-md-4 col-md-offset-4");
				$("#passwordIcon").attr("class","glyphicon glyphicon-remove form-control-feedback");
				$("#passwordFieldDescr").html("check");
			}
		}
	});
	$(document).ready(function() 
	{
		$('#rootwizard').bootstrapWizard(
		{
			onTabShow: function(tab, navigation, index) 
			{
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				document.getElementById("progress-bar").style.width=$percent+'%';
				// If it's the last tab then hide the last button and show the finish instead
				if($current >= $total) 
				{
					$('#rootwizard').find('.pager .next').hide();
					$('#rootwizard').find('.pager .finish').show();
					$('#rootwizard').find('.pager .finish').removeClass('disabled');
				} else 
				{
					$('#rootwizard').find('.pager .next').show();
					$('#rootwizard').find('.pager .finish').hide();
				}
			},
			onTabClick: function(tab, navigation, index) 
			{
				return false;
			},
			onNext: function(tab, navigation, index)
			{
				if($usernameError || $emailError)
					return false;
			}
		});
		$('#rootwizard .finish').click(function() 
		{
			//save data
		});
	});
</script>
{% endblock %}
{% block content %}
<form name="login_form" action="{%url 'create_person'%}" class="form-horizontal" role="form" method="post">
	<div id="rootwizard" class="col-md-8 col-md-offset-2">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container col-md-offset-2">
					<ul>
						<li><a href="#tab1" data-toggle="tab">Создание пользователя</a></li>
						<li><a href="#tab2" data-toggle="tab">Личные данные</a></li>
						<li><a href="#tab3" data-toggle="tab">Завершить</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="progress">
			<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" style=""></div>
		</div>
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
				<div class="container-fluid">
					<div class="row" >
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id ="usernameField">
							<p>
								<label for="username">Имя пользователя</label>
								<input type="text" class="form-control" name="username" id="username" placeholder="Имя пользователя">
								<span id="usernameIcon"></span>
								<span id="usernameFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="emailField">
							<p>
								<label for="email">Ваша электронная почта</label>
								<input type="text" class="form-control" name="email" id="email" placeholder="Электронная почта">
								<span id="emailIcon"></span>
								<span id="emailFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
							<p>
								<label class="control-label" for="password">Пароль</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Пароль">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" id="passwordField">
							<p>
								<label for="passwordverify">Повторите пароль</label>
								<input type="password" class="form-control" name="passwordverify" id="passwordverify" placeholder="Повторите пароль">
								<span id="passwordIcon"></span>
								<span id="passwordFieldDescr" class="help-block"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="tab2">
				<div class="container-fluid">
					<div class = "row" id="sNameField">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
							<p>
								<label for="sname">Фамилия</label>
								<input type = "text" name= "sname" id = "sname" class = "form-control" placeholder = "Иванов">
							</p>
						</div>
					</div>
					<div class="row" id="nameField">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
							<p>
								<label for="name">Имя</label>
								<input type = "text" name= "name" id = "name" class = "form-control" placeholder = "Иван">
							</p>
						</div>
					</div>
					<div class="row" id="mNameField">
						<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
							<p>
								<label for="mname">Отчество</label>
								<input type="text" name = "mname" id ="mname" class="form-control" placeholder="Иванович">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-2 col-md-offset-4">
							<p>
								<label for="birthday">Дата рождения</label>
								<input type="date" name = "birthday" id ="birthday" value="1997-01-01" class="form-control">
							</p>
						</div>
						<div class ="col-xs-3 col-sm-6 col-md-2">
							<label for="sex">Пол</label>
							<p>
								<input type="radio" name = "sex" value="p1">Мужской
								<input type="radio" name = "sex" value="p2">Женский
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab3">
				<div class="container-fluid">
					3
				</div>
			</div>
			<ul class="pager wizard">
				<li class="previous"><a href="javascript:;">Предыдущий</a></li>
				<li class="next"><a href="javascript:;">Следующий</a></li>
				<li class="next finish" style="display:none;"><a href="javascript:;">Завершить</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock%}