{% extends 'staff\base.html' %}

{% load staticfiles %}
{% block head %}
	Заявления
{% endblock %}


{% block additionalcss %}
<!--link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet"-->
<!--link href="{% static "anketa/css/bootstrap.css" %}" rel="stylesheet"-->
<!-- add one of the jQWidgets styles -->
<link href="{% static 'anketa/backgrid/backgrid/lib/backgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-paginator.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-filter.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-select-all.css' %}" rel="stylesheet">

{% endblock %}

{% block scripts %}
<!--script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/ru.js" %}"></script-->
<script src="{% static "anketa/backgrid/underscore/underscore.js" %}"></script>
<script src="{% static "anketa/backgrid/backbone/backbone.js" %}"></script>
<script src="{% static "anketa/backgrid/backbone.paginator.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid/lib/backgrid.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-paginator.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-filter.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-select-filter.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-select-all.js" %}"></script>


<script type="text/javascript">
		$(document).ready(function () {


			var data = [{% for item in data.applications %}{"fullname": "<a href=\"{% url 'staff:application_review' item.app.id %}\">{{ item.app.abiturient.fullname }}</a>", "edu_form": "{% if item.prof.0.profile.eduform == 'О' %}Очная{% endif %}{% if item.prof.0.profile.eduform == 'З' %}Заочная{% endif %}{% if item.prof.0.profile.eduform == 'ОЗ' %}Очно-заочная{% endif %}","date":"{{item.app.date}}","edu_prog":"{{ item.prof.0.profile.profile.edu_prog.name }} {{item.prof.0.profile.profile.edu_prog.qualification.value}}","edu_prof":"{{item.prof.0.profile.profile.name}}","points":{{item.app.points}},"appState":"{{item.app.appState.value}}"},{% endfor %}];

			var Application = Backbone.Model.extend({});
			var Applications = Backbone.PageableCollection.extend({
				model: Application,
				state: {
    				pageSize: 15
    				//sortKey: "joined",
    				//order: 1
  				},
  				mode: "client"

			});			
			
			var apps = new Applications(data);
			console.log(apps);

			var MyUriCell = Backgrid.UriCell.extend({
				render: function () {
					this.constructor.__super__.render.apply(this, arguments);
					this.$("a").attr({href: "{% url 'staff:application_list' %}"});
					return this;
				}
			});			

			var columns = [{
				name: "fullname", // The key of the model attribute
				label: "Полное имя", // The name to display in the header
				editable: false,
				cell: "uri" 
			}, {
				name: "edu_form",
				label: "Форма обучения",				
				cell: "string", 
				editable: false
			}, {
				editable: false,
				name: "date",
				label: "Дата",
				cell: "string" 
			}, {
				editable: false,
				name: "edu_prog",
				label: "Направление/специальность",
				cell: "string" 
			}, {
				editable: false,
				name: "edu_prof",
				label: "Профиль",
				cell: "string"
			}, {
				editable: false,
				name: "points",
				label: "Баллы",
				cell: "integer" 
			}, {
				editable: false,
				name: "appState",
				label: "Статус",
				cell: "string"
			}];

			// Initialize a new Grid instance
			var grid = new Backgrid.Grid({
				columns: [{
					name: "",
					cell: "select-row",
					headerCell: "select-all"
				}].concat(columns),
				collection: apps,
				className: "backgrid table table-bordered table-hover"
			});
			// Render the grid and attach the root to your HTML document
			var $example1 = $("#example-1-result");
			$example1.append(grid.render().el);

			var paginator = new Backgrid.Extension.Paginator({				
				collection: apps,
				goBackFirsstOnSort: false
			});
			// Render the paginator
			$example1.after(paginator.render().el);

			apps.fetch({reset: true});

			//$(".backgrid").attr("class","backgrid table table-bordered table-hover");


		});
		function advanced_search(){
				console.log("init");
				if($('#advanced_row').attr('class')==('row hidden')){
					$('#advanced_row').attr('class','row');
					return;
				}			
				if($('#advanced_row').attr('class')==('row')){
					$('#advanced_row').attr('class','row hidden');
					return;
				}			
			};
	</script>
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@END GRID@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->


{% endblock %}


{% block content %}
<form action="{% url 'staff:application_list' %}"  method="GET">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="panel panel-default">			
			<div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-3">
		    			<select class="form-control" name="napravlenie" id="napravlenie" placeholder="Направление">
							<option {% if data.filters.napravlenie == "0" %} selected {% endif %} value="0">Направление/Специальность</option>      
							{% for item in data.edu_prog %}
							<option {% if data.filters.napravlenie == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}} {{item.qualification.value}}</option>
							{% endfor %}           
						</select>
		    		</div>
					<div class="col-md-3">
						<select class="form-control" name="profil" id="profil" placeholder="Профиль">
							<option {% if data.filters.profil == "0" %} selected {% endif %} value="0">Профиль</option>       
							{% for item in data.profill %}
							<option {% if data.filters.profil == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}} {{item.edu_prog.qualification.value}}</option>
							{% endfor %}           
						</select>
					</div>
					<div class="col-md-3">
						<select class="form-control" name="forma" id="forma" placeholder="Форма Обучения">
							<option {% if data.filters.forma == "1" %} selected {% endif %} value="1">Форма Обучения</option>
							<option {% if data.filters.forma == "2" %} selected {% endif %} value="2">Очная</option>
							<option {% if data.filters.forma == "3" %} selected {% endif %} value="3">Заочная</option>        
							<option {% if data.filters.forma == "4" %} selected {% endif %} value="4">Очно-Заочная</option>
						</select>
					</div>
					<div class="col-md-3">
						<select class="form-control" name="status" id="status">
							<option {% if data.filters.status == "0" %} selected {% endif %} value="0">Статус заявления</option>
							{% for item in data.Application %}
							<option {% if data.filters.status == item.id %} selected {% endif %} value="{{ item.id }}">{{item.value}}</option>
							{% endfor %}                
						</select>
					</div>					
		    	</div><!--end row-->
		    	<div class="row" style="margin-top: 10px;">
		    		<div class="col-md-3">
		    			<input name="fio" pattern="^[А-Яа-яЁё\s]+$" class="form-control" placeholder="Фамилия Имя Отчество" value="{{ data.filters.fio }}"/>
		    		</div>
		    		<div class="col-md-3">
		    			<div class="row">
				    		<div class="col-md-6">
								<input pattern="[0-9]{,3}"<--kak pattern propyskaet bykvi?~_~ type="number" name="balli1" id="digits-from" class="form-control" placeholder=">123" value="{{ data.filters.balli1 }}"/>
								</div>
							<div class="col-md-6">
								<input pattern="[0-9]{,3}" type="number" <--kak type otmenyaet pattern?~_~ name="balli2" id="digits-to" class="form-control" placeholder="<123" value="{{ data.filters.balli2 }}"/>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-6">
								<input type="date" name = "datedoc1" id ="datedoc>" value="{{data.filters.datedoc1}}" class="form-control">
							</div>
							<div class="col-md-6">          
								<input type="date" name = "datedoc2" id ="datedoc<" value="{{data.filters.datedoc2}}" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-4">
								<button type="submit" class="btn btn-warning btn-block" name="cancel" >Сбросить</button>
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-primary btn-block" name="apply" >Применить</button>
							</div>
							<div class="col-md-4">
								<input type="button" class="btn btn-default btn-block" id="advanced_button" onClick="advanced_search()" value="+"/>
							</div>
						</div>
					</div>				
		    			
		    	</div><!--end row-->
		    	<div class="row hidden" id="advanced_row" name="advanced_row" style="margin-top: 10px;">
	    			<div class="col-md-3">
	    				<input type="text" name="birthplace" id="birthplace" value="{{data.filters.birthplace}}" class="form-control" placeholder="Место рождения">
	    			</div>
	    			<div class="col-md-3">
	    				<select class="form-control" name="doctype" id="doctype" >
							<option {% if data.filters.doctype == "0" %} selected {% endif %} value="0">Тип документа</option>
							{% for item in data.docType %}
							<option {% if data.filters.doctype == item.id %} selected {% endif %} value="{{ item.id }}">{{item.value}}</option>
							{% endfor %} 
						</select>
	    			</div>
	    			<div class="col-md-3">

	    			</div>
	    			<div class="col-md-3">

	    			</div>		    		
		    	</div>
			</div><!--end panel body-->
		</div><!--end panel-->
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-12">
		<!--div id="grid">
		</div>
		<div id="eventslog" style="margin-top: 30px;">
			<div style="width: 200px; float: left; margin-right: 10px;">
				<input class="btn btn-default"  value="Удалить фильтры" id="clearfilteringbutton" type="button"  />
				<div style="margin-top: 10px;" id='filterbackground'>Подсветить фон</div>
				<div style="margin-top: 10px;" id='filtericons'>Показать все иконки</div>
			</div>
			<div style="float: left;">
				Event Log:
				<div style="border: none;" id="events">
				</div>
			</div>
		</div-->
		
				<div id="example-1-result" style="height:100%;" class="backgrid-container">			
				</div>
			
		
	</div>

	</form>
{% endblock %}

