{% extends 'staff\base.html' %}

{% load staticfiles %}
{% block head %}
	Заявления
{% endblock %}


{% block additionalcss %}
<!--link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet"-->
<!--link href="{% static "anketa/css/bootstrap.css" %}" rel="stylesheet"-->
<!-- add one of the jQWidgets styles -->
<link href="{% static 'anketa/backgrid/backgrid/lib/backgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-paginator.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-filter.min.css' %}" rel="stylesheet">
<link href="{% static 'anketa/backgrid/backgrid-select-all.css' %}" rel="stylesheet">

{% endblock %}

{% block scripts %}
<!--script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/ru.js" %}"></script-->
<script src="{% static "anketa/backgrid/underscore/underscore.js" %}"></script>
<script src="{% static "anketa/backgrid/backbone/backbone.js" %}"></script>
<script src="{% static "anketa/backgrid/backbone.paginator.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid/lib/backgrid.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-paginator.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-filter.min.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-select-filter.js" %}"></script>
<script src="{% static "anketa/backgrid/backgrid-select-all.js" %}"></script>


<script type="text/javascript">
		$(document).ready(function () {

			var data = [{% for item in data.applications %}{"fullname": "{{item.app.abiturient.fullname}}", "edu_form": "{{item.prof.0.profile.eduform}}","date":"{{item.app.date}}","edu_prog":"{{item.prof.0.profile.profile.name}}","edu_prof":"{{item.prof.0.profile.profile.edu_prog.qualification.value}}","points":{{item.app.points}},"appState":"{{item.app.appState.value}}"},{% endfor %}];

			var Application = Backbone.Model.extend({});
			var Applications = Backbone.PageableCollection.extend({
				model: Application,
				url: "{% url 'staff:backgrid_collection' %}",
				state: {
    				pageSize: 5
    				//sortKey: "joined",
    				//order: 1
  				},
  				mode: "client"

			});			
			
			var apps = new Applications(data);
			console.log(apps);			

			var columns = [{
				name: "fullname", // The key of the model attribute
				label: "Полное имя", // The name to display in the header
				editable: false,
				cell: "uri" // Renders the value in an HTML anchor element ссылка на заявление <a href=""
			}, {
				name: "edu_form",
				label: "Форма обучения",
				// The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
				cell: "string", // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
				editable: false
			}, {
				editable: false,
				name: "date",
				label: "Дата",
				cell: "string" // An integer cell is a number cell that displays humanized integers
			}, {
				editable: false,
				name: "edu_prog",
				label: "Направление/специальность",
				cell: "string" // A cell type for floating point value, defaults to have a precision 2 decimal numbers
			}, {
				editable: false,
				name: "edu_prof",
				label: "Профиль",
				cell: "string"
			}, {
				editable: false,
				name: "points",
				label: "Баллы",
				cell: "integer" // Renders the value in an HTML anchor element
			}, {
				editable: false,
				name: "appState",
				label: "Статус",
				cell: "string"
			}];

			// Initialize a new Grid instance
			var grid = new Backgrid.Grid({
				columns: [{
					name: "",
					cell: "select-row",
					headerCell: "select-all"
				}].concat(columns),
				collection: apps,
				className: "backgrid table table-bordered table-hover"
			});
			// Render the grid and attach the root to your HTML document
			var $example1 = $("#example-1-result");
			$example1.append(grid.render().el);

			var paginator = new Backgrid.Extension.Paginator({				
				collection: apps,
				goBackFirsstOnSort: false
			});
			// Render the paginator
			$example1.after(paginator.render().el);

			var eduform = [
				{
					edu_form: "О",
					name: "Очная"					
				},
				{					
					edu_form: "З",
					name: "Заочная"
				},
				{					
					edu_form: "ОЗ",
					name: "Очно-заочная"
				}
			];

			// Initialize a client-side filter to filter on the client
			// mode pageable collection's cache.
			var filter = new Backgrid.Extension.SelectFilter({				
				colletcion: apps,				
				placeholder: "поиск по имени",
				fields: "edu_form",
				className: "backgrid-filter form-control",
				selectOptions: _.union([{label: "All", value: null}],
	  				_.map(eduform, function(o) {return {label: o.name, value: o.edu_form};}))
			});

			$example1.before(filter.render().el);

			apps.fetch({reset: true});

			//$(".backgrid").attr("class","backgrid table table-bordered table-hover");


						


		});
	</script>
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@END GRID@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->


{% endblock %}


{% block content %}
<form action="{% url 'staff:application_list' %}"  method="GET">
	
	<div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-1">
		<!--div id="grid">
		</div>
		<div id="eventslog" style="margin-top: 30px;">
			<div style="width: 200px; float: left; margin-right: 10px;">
				<input class="btn btn-default"  value="Удалить фильтры" id="clearfilteringbutton" type="button"  />
				<div style="margin-top: 10px;" id='filterbackground'>Подсветить фон</div>
				<div style="margin-top: 10px;" id='filtericons'>Показать все иконки</div>
			</div>
			<div style="float: left;">
				Event Log:
				<div style="border: none;" id="events">
				</div>
			</div>
		</div-->
		<div class="panel panel-default">
			<div class="panel-heading">Заявления</div>
			<div class="panel-body">
				<div id="example-1-result" class="backgrid-container">			
				</div>
			</div>
		</div><!--end panel->>
		
	</div>

	</form>
{% endblock %}

