{% extends 'staff\base.html' %}

{% block head %}
  Справочники
{% endblock %}
{% load staticfiles %}

{% block additionalcss %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/v1.0.0/dist/ng-table.min.css">
  <link href="{% static 'anketa/select2-3.5.4/select2.css' %}" rel="stylesheet">
  <link href="{% static 'anketa/select2-3.5.4/select2-bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'anketa/css/prettify.css' %}" rel="stylesheet">
{% endblock %}



{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://cdn.rawgit.com/esvit/ng-table/v1.0.0/dist/ng-table.js"></script>
  <script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
  <script src="{% static "anketa/js/prettify.js" %}"></script>
  <script src="{% static "anketa/select2-3.5.4/select2_locale_ru.js" %}"></script>
  <script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
  <script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>

  <script>
      $(document).ready(function(){
          $('#attribute1').select2({
            placeholder: "Select an option",
            language:"ru",
            minimumInputLength: 1,
            ajax:{
              url:{% url 'staff:catalogs' %},
              dataType: 'json',
              delay: 250,
              data:function(params){
                return{
                  query: params,
                };
              },
              processResults: function(data, page){
                return {
                  results: data,
                };
              },
              cache: true
            }
          });
      });
  </script>
{% endblock %}


{% block leftmenu %}
{% endblock %}

{% block content %}
<form action=""  method="POST">
  {% csrf_token %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab" role="button">Список значений атрибутов</a></li>
      <li><a href="#tab2" data-toggle="tab" role="button">Добавить\удалить атрибут</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade" id="tab2">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Тип атрибута</div>
            <div class="panel-body">
              <select class="form-control" name="attrtype1" id = "attrtype1">
                {% for item in data.attrtype %}
                  <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}      
              </select>
              <p></p>
              <label class="control-label">Новый тип:</label>
              <input type="text" class="form-control" name = "attrtype" id="attrtype" placeholder="тип атрибута" value ="">
              <p></p>
              <button type="submit" class="btn btn-default" name="save1">Сохранить</button>
              <button type="submit" class="btn btn-danger" name="deletetype">Удалить</button>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Атрибут</div>
            <div class="panel-body">          
              <select class="form-control" name="attribute1" id = "attribute1">
                {% for item in data.attribute1 %}
                  <option value="{{ item.id }}">{{ item.type.name }} {{ item.name }}</option>
                {% endfor %}      
              </select>
              <p></p>
              <label class="control-label">Новый атрибут:</label>
              <input type="text" class="form-control" name = "attribute" id="attribute" placeholder="Атрибут" value ="">
              <p></p>
              <button type="submit" class="btn btn-default" name="save2">Сохранить</button>
              <button type="submit" class="btn btn-danger" name="deleteatt">Удалить</button>
              
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Значение атрибута</div>
            <div class="panel-body">              
              <input type="text" class="form-control" name = "attrvalue" id="attrvalue" placeholder="Значение атрибута" value ="">
              <p></p>
              <button type="submit" class="btn btn-default" name="save3">Сохранить</button>          
            </div>
        </div>
      </div>
    </div>
    

    <div class="tab-pane fade in active" id="tab1">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">       
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Таблица</div>
          <div class="panel-body">
            <p>
              <select class="form-control" name="attrtypefilter" id = "attrtypefilter" >
                <option {% if data.attrtypefilter == "0" %} selected {% endif %} value="0">Все</option>
                {% for item in data.attrtype %}
                  <option {% if data.attrtypefilter == item.id %} selected {% endif %} value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}      
              </select>
            </p>
            <p>
              <select class="form-control" name="attributefilter" id = "attributefilter" >
                <option {% if data.attributefilter == "0" %} selected {% endif %} value="0">Все</option>
                {% for item in data.attribute %}
                  <option {% if data.attributefilter == item.id %} selected {% endif %} value="{{ item.id }}">{{ item.name }}</option>                  
                {% endfor %}      
              </select>
            </p>
            <p>
              <button type="submit" class="btn btn-default" name="save4">Show</button>
            </p>            
          </div>

          <!-- Table -->
          
            <table class="table table-striped table-bordered table-hover ">
                    <thead> 
                            <tr>
                                <th width="3%">#</th>
                                <th>value</th>
                                <th>parent_id</th>
                                <th width="7%">attribute_id</th>
                            </tr>
                    </thead>
                    <tbody>
                            {% for item in data.attrvaluefilter %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ item.attribute.type.name }} {{ item.attribute.name }} {{ item.value }}</td>
                              <td>{{ item.parent_id }}</td>
                              <td>{{ item.attribute_id }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
            </table>          
        </div>
      </div>
    </div>
  </div>

</form>
{% endblock %}
