
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Bootstrap Template</title>

    {% load staticfiles %}
    <link href="{% static 'anketa/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'anketa/select2-3.5.4/select2.css' %}" rel="stylesheet">
	<link href="{% static 'anketa/select2-3.5.4/select2-bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'anketa/css/prettify.css' %}" rel="stylesheet">
    
      
  </head>
  
  <body>
    <div class="container-fluid">
      <!--<div class="kost">-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="page-header">
                <h1>Значения атрибута "{{ data.attribute.name }}"</h1>
              </div>
          </div>
        <!--</div>-->
      </div>
    <form action="" method="post">    
	  	{% csrf_token %}
	    <div class="container-fluid">        
	        <div class="row">                
	            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	           		<div class="panel panel-default">
	          			<div class="panel-heading">Список значений</div>
	            			<div class="panel-body">
	            				<table class="table table-striped table-bordered table-hover ">
                    				<thead> 
			                            <tr>
			                                <th width="3%">#</th>
			                                <th>name</th>
			                                <th width="3%">v</th>
			                            </tr>
                    				</thead>
				                    <tbody>
				                            {% for item in data.attrvalue %}
				                            <tr>
				                              <td>{{ forloop.counter }}</td>
				                              <td>{{ item.value }}</td>
				                              <td><input type="checkbox" name="selected" value="{{ item.id }}">
				                              </td>
				                            </tr>
				                            {% endfor %}
				                    </tbody>
            					</table>
	              				<!--<button type="submit" class="btn btn-default" name="add">Добавить</button>-->
	              				<a href="#" onClick="window.open('{% url 'staff:catalogs_attrvalue_add' data.attribute.id %}','add','width=650,height=300')" class="btn btn-default" role="button" name="add">Добавить</a>
	              				<button type="submit" class="btn btn-danger" name="delete">Удалить</button>
	            			</div>
	        		</div>                      
	            </div>
	        </div>
	    </div>
	</form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'anketa/js/jquery-1.11.0.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src= "{% static 'anketa/js/bootstrap.js' %}"></script>    
  	<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
  	<script src="{% static "anketa/js/prettify.js" %}"></script>
  	<script src="{% static "anketa/select2-3.5.4/select2_locale_ru.js" %}"></script> 
  </body>
</html>