{% extends 'staff\base.html' %}
{% block head %}
	Направления/специальности "{{ data.edu_org.name }}"
{% endblock %}

{% load staticfiles %}

{% block scripts %}
	<script>
		$(document).ready(function(){			
			
			$('#edu_org_prog_detail').on('hide.bs.modal',function(event){
			var button = $(event.relatedTarget)
				$('#edu_org_prog_details_form').submit();			
			});

        	$('.change').on('click',function(){	
            	var $value = $(this).attr('value');
            	$.ajax({
					url: "{% url 'staff:edu_org_progs_get' %}",					
					method: "GET",
					data: {
						'query':$value,
					},
					dataType: "json",
					dataProcess:true,
					success:function(data)
					{
						
						$('option:selected').removeAttr('selected');
						$('#edu_org_prog_id_detail').val(data[0]['id']);
						$("#edu_org_qual_detail>option[value='"+data[0]['qual']['id']+"']").attr('selected','selected');
						$("#edu_org_duration_detail>option[value='"+data[0]['dur']+"']").attr('selected','selected');
						$('#edu_org_prog_name_detail').val(data[0]['name']);
						$('#edu_org_prog_detail').modal();
						$('#myModalLabel').html('Изменить направление/специальность '+'"'+data[0]['name']+' '+data[0]['qual']['name']+'"');
						
					},
					error:function(){
						alert('4toto poshlo ne tak');
					}

				});
           	});
           	$('#add').on('click',function(){
           		//$('#myModalLabel').html("Новое учреждение\\факультет");
           		$('#edu_org_prog_id_detail').val('-1');
           		$('#edu_org_prog_detail').modal();
           	});

           	$('#return').on('click',function(){
           		history.back();
           	});

		});
	</script>
{% endblock %}

{% block content %}
	<!-- Modal addtibute detail -->
	<div class="modal fade" id="edu_org_prog_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form action="" method="POST" id="edu_org_prog_details_form">
	      	{% csrf_token %}
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Добавить новое направление/специальность "{{ data.edu_org.name }}"</h4>
	      </div>
	      <div class="modal-body">
	      			<input type="text" name="edu_org_prog_id" id="edu_org_prog_id_detail" value="" hidden>
	      			
	      			<label class="control-label">Квалификация:</label>
					<select class="form-control" name="edu_org_qual" id = "edu_org_qual_detail">
						{% for item in data.edu_org_qual %}
							<option value="{{ item.id }}">{{ item.value }}</option>
						{% endfor %}      
					</select>

					<label class="control-label">Срок обучения:</label>
					<select class="form-control" name="edu_org_duration" id = "edu_org_duration_detail">
						{% for item in data.edu_org_dur %}
							<option value="{{ item.id }}">{{ item.value }}</option>
						{% endfor %}      
					</select>

					<p></p>
					<label class="control-label">Название:</label>
					<input type="text" class="form-control" name = "edu_org_prog_name" id="edu_org_prog_name_detail" value ="" placeholder="Название направления/специальности">
					<p></p>								
		  </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" name="Close">Закрыть</button>
	        <button type="submit" class="btn btn-primary" name="save">Сохранить</button>
	      </div>
	  		</form>
	    </div>
	  </div>
	</div>
	<!-- End Modal-->
	
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Список направлений/спецальностей</div>
				<div class="panel-body">
					<form action="" method="POST">
					{% csrf_token %}
						<p>
							<button type="button" class="btn btn-primary btn-ng" id="add">Добавить</button>
							<button type="submit" class="btn btn-danger" name="del">Удалить</button>
							<button type="button" class="btn btn-info" name="return" id="return">Назад</button>
						</p>
						<table class="table table table-bordered table-hover">
							<thead>
								<tr>
									<th width="3%">№</th>
									<th>Направление/специальность</th>
									<th width="2%">v</th>
									<th width="5%">Детали</th>
								</tr>
							</thead>
							<tbody>
								{% for item in data.edu_org_progs %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>
											<a href="" class="change" name="edu_org_prog_name" id="edu_org_prog_name_{{item.id}}" value="{{item.id}}" data-toggle="modal">{{ item.name }} {{item.qualification.value}}</a>
										</td>
										<td><input type="checkbox" name="selected" value="{{item.id}}"></td>
										<td>
											<a href="{% url 'staff:edu_org_prog_profs' item.id %}" class="btn btn-info" role="button" name="{{ item.id }}">>></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</form>
				</div><!--panel body-->
			</div><!--panel-->
		</div>
{% endblock %}