{% extends 'staff\base.html' %}

{% block title %}
Зачисление
{% endblock %}

{% block additionalcss %} {% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('#selectAll').click(function() {
    	var c = this.checked;
    	$(':checkbox').prop('checked',c);
	});
</script>
{% endblock %}

{% block content %}
<br>
<form action="" method="GET" id="abit_list">
	<div class="col-md-12 ">
		<div class="col-md-6 col-xs-6">
			<div class="container-fluid">
				<!--div class="panel panel-default">						
					<div class="panel-body"-->
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th width="3%"><input type="checkbox" name="selectAll" id="selectAll" value=""></th>
									<th>Фамилия имя отчество</th>
								</tr>
							</thead>
							<tbody>
								{% for item in data.applications %}
								<tr>
									<td><input type="checkbox" name="selected" id="selected" value="{{ item.id }}"></td>
									<td>{{ item.abiturient.fullname }}</td>									
								</tr>
								{% endfor %}
							</tbody>
						</table>
					<!--/div--><!--end panel-body-->
				<!--/div--><!--end panel-->
			</div><!--end container-fluid-->
		</div>
		<div class="col-md-6 col-xs-6">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<select class="form-control" name="vuz" id="vuz">
							<option {% if data.filters.vuz == "0" %} selected {% endif %} value="0">Образовательное учреждение</option>      
							{% for item in data.edu_org %}
								{% if item.head = None %}
									<option {% if data.filters.vuz == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}}</option>
								{% endif %}
							{% endfor %}           
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<select class="form-control" name="depart" id="depart">
							<option {% if data.filters.depart == "0" %} selected {% endif %} value="0">Подразделение</option>       
							{% for item in data.edu_org %}
								{% if item.head != None %}
									<option {% if data.filters.depart == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}}</option>
								{% endif %}
							{% endfor %}           
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<select class="form-control" name="edu_prog" id="edu_prog" >
							<option {% if data.filters.edu_prog == "0" %} selected {% endif %} value="0">Направление/специальность</option>       
							{% for item in data.edu_prog %}											
								<option {% if data.filters.edu_prog == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}}</option>											
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<select class="form-control" name="edu_prof" id="edu_prof">
							<option {% if data.filters.edu_prof == "0" %} selected {% endif %} value="0">Профиль</option>
							{% for item in data.edu_prof %}
								<option {% if data.filters.edu_prof == item.id %} selected {% endif %} value="{{ item.id }}">{{item.name}}</option>
							{% endfor %}                
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<!--button type="submit" class="btn btn-warning " name="cancel" >Сбросить</button-->
						<input type="submit" class="btn btn-default btn-block" name="apply" value="Применить"/>												
					</div>
					<div class="col-md-6">
						<!--button type="submit" class="btn btn-primary " name="apply" >Применить</button-->												
						<input type="submit" class="btn btn-default btn-block" name="cancel" value="Сбросить"/>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<!--button type="submit" class="btn btn-primary " name="apply" >Применить</button-->												
						<input type="submit" class="btn btn-success btn-block" name="cancel" value="Зачислить"/>
					</div>
				</div>
			</div>
		</div>			
	</div>
</form>
{% endblock %}