{% extends 'staff/base.html' %}
{% block head %}
Создание Новости
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
            <label for="employee_news">Автор</label>
            <input type="text" name = "employee_news" id ="employee_news" value="тут должен быть селект" class="form-control">
                        
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
            <label for="name">Название Новости</label>
            <input type="text" name = "name" id ="name" value="{{ data.news.name }}" class="form-control">
        </div>
   </div>
    </br>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
            <label for="Description">Описание</label>
            <input type="text" name = "Description" id ="Description" value="{{ data.news.Description }}" class="form-control">
                        
        </div>
    </div>
    </br>
    
    </br>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
            <label for="content">Контент</label>
            <textarea name = "content" id ="content" class="form-control" rows="10">{{ data.news.NewsText }}</textarea>
        </div>
    </div>
    </br>
    </br>
    <p align=center><button class="btn btn-primary" type="submit" name="Save">Сохранить</button></p>
</form>
{% endblock %}