{% extends 'staff/base.html' %}

{% block head %}
Новости
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <div class = "container-fluid">
  {% for news in data.news_list %}
    <div class = "media">
      <div class = "medai-left">
        <a href="{% url 'staff:news_content' news.0.id %}"><img src={% if news.1 %} {{ news.1.img.url }} {% else %}"{% static "anketa/img/logo.png" %}" {% endif %}></a>
      </div>
      <div class = "media-body">
        <h4 class = "media-heading">{{ news.0.NewsName }}</h4>
        {{ news.0.Description }}
      </div>
      </div>
  {% endfor %}
       <div class="pull-right">
                <button type="button" class="btn btn-link" name="create_news">
                    <a href="{% url 'staff:create' %}">
                    Добавить Новость
                    </a>
           </button>
       </div>
  </div>
{% endblock %}