{% extends 'staff/base.html' %}
{% block head %}
Новость
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <div class = "container-fluid">
       <p align=center> <img  src="{% static "anketa/img/logo.png"  %}" height=" 100px "></p>
      </br>
      </br>
      </br>
        <h4  ><font size= "6"> {{ data.news.NewsName }}</font></h4>
      </br>
      </br>
        <p>{{ data.news.NewsText }}</p>

        <img src="{% static "anketa/img/logo.png" %}"> 

</br>
<p align=right>{{ data.news.employee.fullname }} {{ data.news.NewsDate }}</p>
  </div>
{% endblock %}