{% extends "anketa/base.html" %}
{% load staticfiles %}


{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">

<link href="{% static "anketa/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}

<script src="{% static "anketa/js/moment.min.js" %}"></script>
<script src="{% static "anketa/js/ru.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/ru.js" %}"></script>
<script src="{% static "anketa/js/notify.js" %}"></script>
<script src="{% static "anketa/js/kladr.js" %}"></script>


<script>

    $('#kladrbtn').on('click', function(e){
        //$('#KladrModal').modal();
        Kladr($('#streets'));
    });
   
    $('#docde').datetimepicker({
        format:'DD.MM.YYYY',
        locale: 'ru',
        defaultDate:'{{data.passp.issueDate|date:"Y-m-d"}}'
    });    
    
    $('#bdate').datetimepicker({
       locale: 'ru'
    });   
    
    $("#Mujik").focusout(function()
    {
        if($("id").id()=="a61")
        {
            $("#Mujik20" ).hide();       
        }
    });       

    function GetRegionID(){
        if($("#district").val().length === 0)
            return $("#idterritory").val();
        return $("#iddistrict").val();
    }
    $(document).ready(function() {
        $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard').find('.bar').css({width:$percent+'%'});

            // If it's the last tab then hide the last button and show the finish instead
            if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
            } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
            }

        }});
                     
        $('#rank').select2({
            language:"ru"
        });
        $('#edulvl').select2({
            language:"ru"
        });
        
        $('#edudoctype').select2({
            language:"ru"
        });       
        
        $('#nationality').select2({
            language:"ru"
        });
         $('#flang').select2({
            language:"ru"
        });
        $('#adrstype').select2({
            language:"ru"
        });      
    
    {% if data.passp.docIssuer.value != None  %}
        $("#docissuer").select2('data',{id: '{{citizenship_id}}', text:"{{data.passp.docIssuer.value}}"});
    {% endif %}
    {% if data.application.department != None  %}
        $("#inst").select2('data',{id: '{{citizenship_id}}', text:"{{data.application.department}}"});
    {% endif %}
    {% if data.application.edu_prog != None  %}
        $("#eduprog").select2('data',{id: '{{citizenship_id}}', text:"{{data.application.edu_prog.edu_prog}}"});
    {% endif %}
    });
</script>


<script>
    $(document).on("click","button[id='examsSave']", function()
        {
            
            $.ajax({
                url:"{% url 'staff:add_exam_to_person' %}",
                type:$("#persondata").attr('method'),
                data:$("#persondata").serialize(),
                dataProcess:true,
                timeout:500,
                success:function(data)
                {
                    if (data['result']==="success")
                    {
                        $.notify("Сохранено.", "success");
                    }
                    else
                    {
                        $.notify("Что-то пошло не так :(", "error");
                    }
                    
                },
                error:function()
                {
                    $.notify("Что-то пошло не так2 :(", "error");
                }
            });
        });

    function addField()
        {
            
            var newRow = $('<div class="row" id="newExam"><div class="col-md-4"><select name="subjectExam" id="subjectExam" class="form-control">{% for item in data.exam_subjects %} <option value="{{item}}">{{item}}</option>{% endfor %}</select></div><div class="col-md-4"><select name="ExamType" id="ExamType" class="form-control">{% for item in data.exam_type %} <option value="{{item}}">{{item}}</option>{% endfor %}</select></div><div class="col-md-2"><input name="pointsExam" id="pointsExam" class="form-control"     placeholder="100"value="{{item.points}}"></div><div class="col-md-2"><input name="yearExam" id="yearExam" class="form-control" placeholder="2015" value="{{item.year}}"></div></div><p>');
            $("#examfield").append(newRow);
            
        };    

</script>

{% endblock %}

{% block content %}
{% include '..\templates\kladr\kladr.html' %}
<form id="persondata" name="persondata" class="form-horizontal" role="form" method="post" >
{% csrf_token %}
<div id = "rootwizard">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul>
                    <li><a href="#tab4" data-toggle="tab">Заявление</a></li>
                    <li><a href="#tab1" data-toggle="tab">Личные данные</a></li>
                    <li><a href="#tab2" data-toggle="tab">Документы</a></li>
                    <li><a href="#tab3" data-toggle="tab">Контактные данные</a></li>                    
                    <li><a href="#tab5" data-toggle="tab">Экзамены</a></li>
                    <li><a href="#tab6" data-toggle="tab">Льготы</a></li>
                    <li><a href="#tab7" data-toggle="tab">Личные достижения</a></li>
                    <li><a href="#tab8" data-toggle="tab">Прочее</a></li>                    
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" name="currentPage" id="currentPage">
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Личные данные</h3>
                            </div>
                            <div class="panel-body">
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">                
                                        <p>
                                            <label for="sname">Фамилия</label>
                                            <input type = "text" name= "sname" id = "sname" class = "form-control" placeholder = "Иванов" value="{{data.application.abiturient.sname}}" readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="name">Имя</label>
                                            <input type = "text" name= "name" id = "name" class = "form-control" placeholder = "Иван" value="{{data.application.abiturient.fname}}" readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="mname ">Отчество</label>
                                            <input type="text" name = "mname" id ="mname" class="form-control" placeholder="Иванович" value="{{data.application.abiturient.mname}}" readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">                                        
                                            <div >
                                                <label for="numberdoc">Дата рождения</label>                                                
                                                <input type='text' id="birthday" class="form-control" value="{{data.application.abiturient.birthdate|date:'d-m-Y'}}" readonly/>
                                            </div>                                        
                                    </div>
                                    <div class ="col-xs-6 col-sm-6 col-md-6">
                                        <p></p>
                                        <label for="sex">Пол</label>
                                        <p>
                                            <input type="radio" name = "sexM" value="p1"{% if data.application.abiturient.sex == 'М' %} checked {% endif %}disabled>Мужской
                                            <input type="radio" name = "sexW" value="p2"{% if data.application.abiturient.sex == 'Ж' %} checked {% endif %}disabled>Женский
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="birthplace">Место рождения</label>
                                            <input type="text" name = "birthplace" id ="birthplace" class="form-control" placeholder="Татуин" value="{{data.application.abiturient.birthplace}}"readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <p>
                                            <label for="nation">Национальность(по желанию)</label>
                                            
                                            <input id ="nationality" name="nationality" class="form-control" placeholder="Саха" value="{{data.application.abiturient.nationality.value}}"readonly>
                                        </p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <p>
                                            <label for="citizenship">Гражданство</label>
                                            <input id="citizenship" name="citizenship" class="form-control" placeholder="РФ" value="{{data.application.abiturient.citizenship.value}}" readonly>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div><!--panel body-->
                        </div><!--panel-->
                    </div>   
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class = "container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Документ, удостоверяющий личность</h3>
                            </div>
                            <div class="panel-body">
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="doctype">Вид документа, удостоверяющего личность</label>
                                            <input type="text" name="doctype" id="doctype" class="form-control" value="{{data.passp.docType.value}}"readonly>
                                        </p>
                                    </div>
                                </div>                                
                                <p>
                                    <div class = "row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <label for="serialdoc">Серия</label>
                                            <input type = "text" name = "serialdoc" id = "serialdoc" class = "form-control" placeholder="1234" value="{{data.passp.serialno}}"readonly>
                                        </div>
                                        <div class = "col-xs-6 col-sm-6 col-md-6 ">
                                            <label for="numberdoc">Номер</label>
                                            <input type = "text" name = "numberdoc" id = "numberdoc" class = "form-control" placeholder="123456" value="{{data.passp.number}}"readonly>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <label for="numberdoc">Дата выдачи</label>
                                            <input type="text" id='docde' class="form-control" value="{{data.passp.issueDate|date:'d-m-Y'}}" readonly/>
                                        </div>
                                    </div>
                                </p>
                                
                                <p>
                                    <div class = "row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <label for="docissuer">Кем выдан</label>                
                                            <input id="docissuer" name="docissuer" class="form-control" placeholder="ТП УФМС РС(Я)" value="{{data.passp.docIssuer.value}}"readonly/> 
                                        </div>
                                    </div>
                                </p>
                            </div><!--panel passp body-->
                        </div><!--panel passp-->
                    </div>
                </div>                
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Документ об образовании</h3>
                            </div>
                            <div class="panel-body">
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                                        <p>
                                            <label for="edudoctype">Вид документа об образовании</label>
                                            <input name="edudoctype" id="edudoctype" class="form-control" value="{{ data.edud.docType.value}}"readonly>
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    <div class = "row">
                                        <div class = "col-xs-6 col-sm-6 col-md-6 ">
                                            <label for="serialedudoc">Серия</label>
                                            <input type = "text" name = "serialedudoc" id = "serialedudoc" class = "form-control" placeholder="1234" value="{{data.edud.serialno}}"readonly>
                                        </div>
                                        <div class = "col-xs-6 col-sm-6 col-md-6 ">
                                            <label for="numberedudoc">Номер</label>
                                            <input type = "text" name = "numberedudoc" id = "numberedudoc" class = "form-control" placeholder="123456" value="{{data.edud.number}}"readonly>
                                        </div>
                                    </div>
                                </p>
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                                        <p>
                                            <label for="prevedu">Уровень образования</label>
                                            <p>
                                                <input type = "radio" name= "prevedu" value="soo"{% if data.education.level.value == "СОО" %} checked {% endif %}disabled>СОО 
                                                <input type = "radio" name= "prevedu" value="npo"{% if data.education.level.value == "НПО" %} checked {% endif %}disabled>НПО 
                                                <input type = "radio" name= "prevedu" value="spo"{% if data.education.level.value == "СПО" %} checked {% endif %}disabled>СПО 
                                                <input type = "radio" name= "prevedu" value="vpo"{% if data.education.level.value == "ВПО" %} checked {% endif %}disabled>ВПО
                                            </p>
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                                            <label for="numberdoc">Дата поступления</label>                                            
                                            <input type='text' class="form-control" value="{{data.education.enterDate|date:'d-m-Y'}}" readonly/>                                                    
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                                            <label for="numberdoc">Дата окончания</label>
                                            <input type='text' class="form-control" name="dateexiting" value='{{data.edud.issueDate|date:"d-m-Y"}}' readonly/>                                            
                                        </div>
                                    </div>
                                </p>
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                                        <p>
                                            <label for="preveduname">Название учебного заведения</label>                                            
                                            <input id="preveduname" name="preveduname" class="form-control" placeholder="СВФУ им. Аммосова" value="{{data.edud.docIssuer.value}}" readonly>     
                                        </p>
                                    </div>
                                </div>
                            </div><!--panel body-->
                        </div><!--panel -->
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Медицинский документ</h3>
                        </div>
                        <div class="panel-body">
                            <div class = "row">
                                <div class="col-xs-12 col-sm-12 col-md-12 ">        
                                    <p>
                                        <label for="inila">СНИЛС</label>
                                        <input id="inila" name="inila" class="form-control" placeholder="123-456-789-00"  value="{{ data.snils.serialno }}" readonly/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="container-fluid">
                <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Адрес</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 ">
                                    <p>
                                        <label for="option1">Адрес прописки совпадает с адресом факт. места жительства</label>
                                        <br>
                                        <input type = "radio" name= "option1" value="a11"{% if not data.application.address.adrs_type_same  %} checked {% endif %}>Нет
                                        <input type = "radio" name= "option1" value="a12"{% if data.application.address.adrs_type_same  %} checked {% endif %}>Да
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <label for="adrstype">Тип адреса</label>
                                        <select id="adrstype" name = "adrstype" class="form-control">
                                            <option value="perm">По прописке</option>
                                            <option value="current">Фактический</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <label for="adrsindex">Индекс</label>
                                        <input type = "text" name="adrsindex" id="adrsindex" class="form-control" placeholder="677000" {% if data.docs.zipcode != "" %} value="{{data.docs.zipcode}}" {% endif %}  {% if data.docs.zipcode == "" %} value="677000" {% endif %}> 
                                    </div>
                                 </p>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <p>
                                        <label for="streets">Адрес </label>
                                        <div class="input-group">
                                            <input id ="streets" name="streets" class="form-control" placeholder="Ленина" value="{{data.docs.street}}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="kladrbtn">...</button>
                                            </span>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="adrshouse">Дом</label>
                                    <input type="text" name="adrshouse" id="adrshouse" class="form-control" placeholder="1" value="{{data.docs.house}}">
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="adrsbuilding">Корпус</label>
                                    <input type="text" name="adrsbuilding" id="adrsbuilding" class="form-control" placeholder="1" value="{{data.docs.building}}">
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="adrsflat">Квартира</label>
                                    <input type="text" name="adrsflat" id="adrsflat" class="form-control" placeholder="1" value="{{data.docs.flat}}">
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
               </br>
               <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                    <!--<div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Контакты</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <th>Контакт</th>
                                    <th>#</th>
                                </thead>
                                <tbody id="TableContactAdd2">
                                    {% for item1 in data.contacts %}
                                    <tr>
                                        <td>
                                            <select id="contacttype2" name = "contacttype2" class="form-control">
                                                {% for item in data.contactyp %}
                                                <option {% if item.id == item1.contact_type.id %} selected {% endif %}  value="{{item.id}}">{{item.value}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name = "contactvalue[{{item1.id}}]" id="contactvalue[{{item1.id}}]" value ="{{item1.value}}">
                                        </td>
                                        <td>
                                            <a style="" onclick="return applycontactrow2(this)" href="#"><span class="glyphicon glyphicon-ok"></span></a>
                                            <a style="" onclick="return deletecontactrow2(this)" value="{{item1.id}}" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>

                            </table>

                            <div class="col-md-offset-11">
                                <a style="" onclick="return addcontactrow2()" href="#"><span class="glyphicon glyphicon-plus"></span></a>   
                            </div> 
                             <button type="submit" class="btn btn-primary" name="sav1" >сохранить</button>                           
                        </div>
                    </div>-->
                    <input type="hidden" class="form-control" name = "wiz_cont_apply_name" id="wiz_cont_apply_name" value ="{{data.application.abiturient.id}}" hidden>

                    <div >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Контакты</h3>
                            </div>
                            <div class="panel-body">
                                <div >
                                    <table class="table" id="table">
                                        <thead id="tablehead">
                                            <tr>
                                                <th>Тип контакта</th>
                                                <th>Номер</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contactsTable">
                                            {% if data.contacts1 %}
                                                {% for item in data.contacts1 %}
                                                <tr>
                                                    <td>
                                                    <select id="contacttype" name = "contacttype" class="form-control" disabled>
                                                        {% if data.contacts_type %}
                                                            {% for item2 in data.contacts_type %}
                                                                <option value="{{item2.id}}" {% if item.type.id == item2.id %} selected {% endif %}>{{item2.value}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" name="contactvalue" value= {{item.value}} readonly></td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td>
                                                    <select id="contacttype" name = "contacttype" class="form-control">
                                                        {% if data.contacts_type %}
                                                            {% for item in data.contacts_type %}
                                                                <option value="{{item.id}}">{{item.value}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="contactvalue"></td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                </br>                               
                            </div>
                        </div>
                    </div>                  
                </div>
                <br>
                <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Родственники</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped" >
                                <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Тип связи</th>
                                        <th>Номер</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="PonycontactsTable">
                                    {% if data.relation %}
                                        {% for item in data.relation %}
                                            <tr>                                
                                                <td><input type="text" name="rel_fio" id="rel_fio" class="form-control" placeholder="ФИО" value="{{item.text}}" readonly></td>
                                                <td>
                                                    <select id="rel_contacttype" name = "rel_contacttype" class="form-control" disabled>
                                                        {% if data.rel_type %}
                                                            {% for item1 in data.rel_type %}
                                                                <option {% if item1.id == item.type.id %}selected{% endif %} value="{{ item1.id }}">{{ item1.value }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </td>
                                                <td><input type="text" name="rel_contactvalue" class="form-control" placeholder="Значение" value="{{item.cont}}" readonly></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>                                
                                            <td><input type="text" name="rel_fio" id="rel_fio" class="form-control" placeholder="ФИО" readonly></td>
                                            <td>
                                                <select id="rel_contacttype" name = "rel_contacttype" class="form-control" disabled>
                                                    {% if data.rel_type %}
                                                        {% for item in data.rel_type %}
                                                            <option value="{{ item.id }}">{{ item.value }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </td>
                                            <td><input type="text" name="rel_contactvalue" class="form-control" placeholder="Значение" readonly></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>                                                                                           
                        </div>                                               
                </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Заявление</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                                        <p>
                                            <div class="col-xs-6 col-sm-6 col-md-6">                        
                                                <label for="option8">Приоритетность поступления</label>
                                                <input type="text" id="lada" name="priora" class="form-control"value="{% if data.application.priority = 'В' %}Высокий{% endif %}{% if data.application.priority = 'C' %}Средний{% endif %}{% if data.application.priority = 'Н' %}Низкий{% endif %}"readonly>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">  
                                                <label for="option2">Прошу допустить меня к участию в конкурсе</label>
                                                <br>
                                                <input type = "radio" name= "option1" value="a21"{% if data.application.budget == True %} checked {% endif %}disabled> в рамках контр.цифр приема
                                                <input type = "radio" name= "option2" value="a22"{% if data.application.withfee == True %} checked {% endif %}disabled> по договорам об оказании платных обр.услуг
                                            </div>
                                        </p>
                                    </div>
                                </div>                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="inst">Институт/факультет</label>
                                            <input name="inst" id="inst" class="form-control" placeholder="Институт Математики и Информатики" value="{{data.application.department.name}}"readonly>
                                            <input name="idinst" id="idinst" hidden readonly/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>
                                            <label for="eduprog">Направление/специальность</label>
                                            <input name="eduprog" id="eduprog" class="form-control" placeholder="информатика и вычислительная техника" value="{{ data.education_prog.0.profile.profile.edu_prog.name }}" readonly>
                                            <input name="ideduprog" id="ideduprog" hidden readonly/>
                                        </p>
                                    </div>
                                </div>
                                {% for item in data.education_prog %}
                                <div class="row">                                
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>
                                            <label for="eduprof">Профиль</label>                                            
                                            <input name="eduprof" id="eduprof" class="form-control" placeholder="" value="{{item.profile.profile.name}}"readonly>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>
                                            <label for="option4">Форма обучения</label><br>
                                            <input type = "text" class="form-control" name= "eduform" value="{% if item.profile.eduform == 'З' %} Заочная {% endif %}{% if item.profile.eduform == 'О' %} Очная {% endif %}{% if item.profile.eduform == 'ОЗ' %} Очно-Заочная {% endif %}" readonly>
                                        </p>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>
                                            <label for="edulvl">Уровень обучения</label>
                                            <input type="text" class="form-control" name="edulvl" id="edulvl" value="{{item.profile.profile.edu_prog.qualification.value}}"readonly>                                            
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="tab-pane" id="tab5">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Экзамены</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">                                    
                                        <h4>Прошу засчитать рез-ты ЕГЭ</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="subject[1]">Дисциплина</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="subject[1]">Тип экзамена</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="points[1]">Баллы</label>                                            
                                    </div>
                                    <div class="col-md-2">
                                        <label for="year[1]">Год</label>                                            
                                    </div>
                                </div>
                                
                                <div id="examfield">
                                {% for item in data.exams %}
                                    <div class="row">
                                    
                                        <div class="col-md-4">                                            
                                            <input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика" value="{{item.exam_subjects|cut:'Дисциплина'}}" readonly>
                                        </div>
                                        <div class="col-md-4">                                            
                                            <input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика" value="{{item.exam_examType|cut:'Тип экзамена'}}" readonly>
                                        </div>
                                        <div class="col-md-2">                                            
                                            <input name="points[1]" id="points[1]" class="form-control" placeholder="100"value="{{item.points}}">
                                        </div>
                                        <div class="col-md-2">                                            
                                            <input name="year[1]" id="year[1]" class="form-control" placeholder="2015" value="{{item.year}}" readonly>
                                        </div>
                                        
                                    </div>
                                    <p>
                                {% endfor %}
                                </div>
                                                                    
                                    <div class="row">
                                        <!--div class="col-md-3">
                                            <a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                                            <a style="" onclick="addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                                        </div-->
                                        
                                        <div class="col-md-12 ">
                                            <div class="pull-right">
                                                <button class="btn btn-primary" type="button" id="examsSave">Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                           <h4>Также прошу допустить к вступительным испытаниям по следующим предметам</h4>
                                        </p>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <label for="subject[1]">Дисциплина</label>
                                </div>
                                {% for item in data.exams %}
                                    {% if item.exam_examType.value == 'Вступительный' %}
                                    <div class="row">                                            
                                        <div class="col-md-12">                                                        
                                            <input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика" value="{{item.exam_subjects|cut:'Дисциплина' }}" readonly>
                                        </div>
                                    </div>
                                    <p>
                                    {% endif %}
                                {% endfor %}
                                <!--div class="row">
                                    <div class="col-md-12">
                                        <br>
                                        <a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                                        <a style="" onclick="return addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                                        </p>
                                    </div>                                    
                                </div-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                           <h4>Прошу создать специальные условия при сдаче вступ. исп-й в связи с ограниченными возможностями здоровья</h4>
                                            <br>
                                            <input type = "radio" name= "option8" value="a51"{% if not data.privilegies.category %} checked {% endif %} disabled>Нет
                                            <input type = "radio" name= "option8" value="a52"{% if data.privilegies.category %} checked {% endif %} disabled>Да
                                        </p>
                                    </div>
                                </div>
                            </div><!-- edn panel body-->
                        </div><!--end panel-->
                    </div><!--end col-col-->
                </div><!--end row-->                
            </div>
        </div>
        <div class="tab-pane" id="tab6">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                         <label for="privcat">Категория</label>
                            <select id="privcat" name = "privcat" class="form-control">
                               
                            </select> 
                        </div>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                            <label for="privtype">Тип</label>
                            <select id="privtype" name = "privtype" class="form-control">
                               
                            </select> 
                        </div>

                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <label for="persach">Имеются ли достижения?</label>
                        <p>
                            <input type = "radio" name= "persach" value="a1"{% if not data.DepAchieves.profile  %} checked {% endif %}>Нет</label>
                            <input type = "radio" name= "persach" value="a2"{% if data.DepAchieves.profile %} checked {% endif %}>Да</label>
                        </p>
                    </div>
                </div>
                <div id="parentpersachId" class="row">
                    <div>
                        <p>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                                <label for="achievname[1]">Наименование достижения</label>
                                <input name="achievname[1]" {% if not data.DepAchieves.profile  %} disabled {% endif %}  id="achievname[1]" class="form-control" placeholder="По жизни чемпион" value="{{data.achievements.result}}">
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <label for="proof[1]" hidden/>Подтверждающие документы</label>
                                <input name="proof[1]" id="proof[1]" class="form-control" placeholder="Я тебе говорю" value="{{data.docattr.value}}" hidden/></input>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <label for="numbofpoints[1]" >Причисляемый балл</label>
                                <input name="numbofpoints[1]"   disabled  id="numbofpoints[1]" class="form-control" placeholder="+100" value="{{data.depachieves.points}}">
                            </div>
                            </br>
                            <a style="" onclick="return deleteFieldPersach(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                            <a style="" onclick="return addFieldPersach()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Прочее</h3>
                            </div>
                            <div class="panel-body">
                                <div class = "row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">                        
                                        <p>
                                            <label for="flang">Изучаемый иностранный язык</label>
                                            <input type="text" name= "flang" id = "flang" class = "form-control" value="{{ data.application.abiturient.foreign_lang.value }}"readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <label for="hostel">Нуждаетесь ли в общежитие?</label>
                                        <p>
                                            <input type = "radio" name= "hostel" value="a1"{% if not data.application.abiturient.hostel %} checked {% endif %}disabled>Нет
                                            <input type = "radio" name= "hostel" value="a2"{% if data.application.abiturient.hostel %} checked {% endif %}disabled>Да
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <label for="option6">Являетесь ли вы военнообязанным?</label>
                                                <p>
                                                    <input type = "radio" name= "option6" value="a61"{% if not data.milit.liableForMilit %} checked {% endif %}disabled>Невоеннообязанный
                                                    <input type = "radio" name= "option6" value="a62"{% if data.milit.liableForMilit %} checked {% endif %}disabled>Военнообязанный
                                                </p>
                                            </div>
                                    </div>
                                </p>
                                <p>
                                    <div class="row" id="Mujik">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <label for="option7">Служили в армии?</label>                                                
                                                    <p>
                                                        <input type = "radio" name= "option7" id="pacan" value="a62"{% if data.milit.isServed %} checked {% endif %}disabled>Да
                                                        <input type = "radio" name= "option7" id="nepacan" value="a61"{% if not data.milit.isServed %} checked {% endif %}disabled>Нет
                                                    </p>                                               
                                            </div>
                                    </div>
                                </p>
                                {% if data.milit.isServed %}
                                    <p>
                                        <div class="row" id="Mujik20"  >
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <label for="yeararmy">Год увольнения из рядов РА</label>
                                                <input type="text" name="yeararmy" id="yeararmy" class="form-control" placeholder="2014" value="{{ data.milit.yearDismissial }}"readonly>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <label for="rank">Воинское звание</label>
                                                <input type="text" name= "rank" id = "rank" class = "form-control" value="{{ data.milit.rank.value }}"readonly>
                                            </div>
                                            </br>                                        
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>                
            <p><tt id="results"></tt></p>            
        </br> </br>
        </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                <ul class="pager wizard">
                    <li class="previous first"><a href="javascript:;">First</a></li>
                    <li class="previous"><a href="javascript:;">Previous</a></li>
                    <li class="next last" ><a href="javascript:;">Last</a></li>
                    <li class="next"><a href="javascript:;">Next</a></li>
                    <li class="next finish" style="display:none;" ><a href="javascript:;">Finish</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <button class="btn btn-info btn-sm" type="submit" id="backspace" name="backspace">Назад</button>
                    <button class="btn btn-success btn-sm" type="submit" id="upvote" name="upvote">Подтвердить</button>
                    <button class="btn btn-warning btn-sm" type="submit" id="unvote" name="unvote">Анулировать</button>
                </div>
            </div> 
    
</div>
</form> 
{% endblock %}
