{% extends "anketa/base.html" %}
{% load staticfiles %}


{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2_locale_ru.js" %}"></script>
<script>
    function GetRegionID(){
        if($("#district").val().length === 0)
            return $("#idterritory").val();
        return $("#iddistrict").val();
    }
    $(document).ready(function() {
        $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard').find('.bar').css({width:$percent+'%'});

            // If it's the last tab then hide the last button and show the finish instead
            if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
            } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
            }

        }});
        $('#rootwizard .finish').click(function() {
            alert('Finished!, Starting over!');
            $('#rootwizard').find("a[href*='tab1']").trigger('click');
        });
       
        $('#rank').select2({
            language:"ru"
        });
         $('#doctype').select2({
            language:"ru"
        });
        $('#nationality').select2({
            language:"ru"
        });
         $('#flang').select2({
            language:"ru"
        });
        
        $('#citizenship').select2({
            language:"ru",
            minimumInputLength: 1,
            ajax:{
                url:{% url 'citizenship' %},
                dataType: 'json',
                delay: 250,
                data:function(params){
                    return{
                        query: params, // search term
                    };
                },
                processResults: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    return {
                      results: data,
                    };
                },
                cache: true
            }
        });

        
        });
        
         $('#preveduname').select2({
            language:"ru",
            minimumInputLength: 1,
            ajax:{
                url:{% url 'preveduname' %},
                dataType: 'json',
                delay: 250,
                data:function(params){
                    return{
                        query: params, // search term
                    };
                },
                processResults: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    return {
                      results: data,
                    };
                },
                cache: true
            }
        });
        $('#docissuer').select2({
            language:"ru",
            minimumInputLength: 1,
            ajax:{
                url:{% url 'docissuer' %},
                dataType: 'json',
                delay: 250,
                data:function(params){
                    return{
                        query: params, // search term
                    };
                },
                processResults: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    return {
                      results: data,
                    };
                },
                cache: true
            }
        });
    });
</script>
<script>
    $("#territory").typeahead(
    {
        onSelect: function(item)
        {
            $("#idterritory").val(item.value);
        },
    ajax:
        {
            url:"{% url 'territory' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }

    });
    $("#district").typeahead(
    {
        onSelect: function(item)
        {
            $("#iddistrict").val(item.value);
        },
    ajax:
        {
            url:"{% url 'district' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#idterritory").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }

    });
    $("#city").typeahead(
    {
        onSelect: function(item)
        {
            $("#idcity").val(item.value);
        },
    ajax:
        {
            url:"{% url 'city' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':GetRegionID()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }

    });
    $("#streets").typeahead(
    {
        onSelect: function(item)
        {
            $("#idstreets").val(item.value);
        },
    ajax:
        {
            url:"{% url 'streets' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#idcity").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#nation").typeahead(
    {
        onSelect: function(item)
        {
            $("#idnation").val(item.value);
        },
    ajax:
        {
            url:"{% url 'nation' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#docissuer").typeahead(
    {
        onSelect: function(item)
        {
            $("#iddocissuer").val(item.value);
        },
    ajax:
        {
            url:"{% url 'docissuer' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#preveduname").typeahead(
    {
        onSelect: function(item)
        {
            $("#idpreveduname").val(item.value);
        },
    ajax:
        {
            url:"{% url 'preveduname' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#inst").typeahead(
    {
        onSelect: function(item)
        {
            $("#idinst").val(item.value);
        },
    ajax:
        {
            url:"{% url 'institute' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#eduprog").typeahead(
    {
        onSelect: function(item)
        {
            $("#ideduprog").val(item.value);
        },
    ajax:
        {
            url:"{% url 'eduprog' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#idinst").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#eduprof").typeahead(
    {
        onSelect: function(item)
        {
            $("#ideduprof").val(item.value);
        },
    ajax:
        {
            url:"{% url 'eduprof' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#ideduprog").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#rank").typeahead(
    {
        onSelect: function(item)
        {
            $("#idrank").val(item.value);
        },
    ajax:
        {
            url:"{% url 'rank' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#idrank").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
    $("#flang").typeahead(
    {
        onSelect: function(item)
        {
            $("#idflang").val(item.value);
        },
    ajax:
        {
            url:"{% url 'flang' %}",
            displayField: 'value',
            valueField:'id',
            method:'get',
            triggerLength: 1,
            preDispatch: function(query)
            {
                return{
                        'query':query,
                        'id':$("#idflang").val()
                      }
            },
            preProcess: function(data)
            {
                return data;
            }
        }
    });
</script>
<script>
    var countOfFields = 1; // Текущее число полей
    var curFieldNameId = 1; // Уникальное значение для атрибута name
    var maxFieldLimit = 10; // Максимальное число возможных полей
    function deleteField(a) {
      if (countOfFields > 1)
      {
     // Получаем доступ к ДИВу, содержащему поле
     var contDiv = a.parentNode;
     // Удаляем этот ДИВ из DOM-дерева
     contDiv.parentNode.removeChild(contDiv);
     // Уменьшаем значение текущего числа полей
     countOfFields--;
     }
     // Возвращаем false, чтобы не было перехода по сслыке
     return false;
    }
    function addField() {
     // Проверяем, не достигло ли число полей максимума
     if (countOfFields >= maxFieldLimit) {
     alert("Число полей достигло своего максимума = " + maxFieldLimit);
     return false;
     }
     // Увеличиваем текущее значение числа полей
     countOfFields++;
     // Увеличиваем ID
     curFieldNameId++;
     // Создаем элемент ДИВ
     var div = document.createElement("div");
     // Добавляем HTML-контент с пом. свойства innerHTML
     div.innerHTML = "<p><div class=\"col-xs-2 col-sm-2 col-md-2 col-md-offset-3\"><input name=\"subject[1]\" id=\"subject[" + curFieldNameId + "]\" class=\"form-control\"></div><div class=\"col-xs-2 col-sm-2 col-md-2\"><input name=\"points[" + curFieldNameId + "]\" id=\"points[" + curFieldNameId + "]\" class=\"form-control\"></div><div class=\"col-xs-1 col-sm-1 col-md-1\"><input name=\"year[" + curFieldNameId + "]\" id=\"year[" + curFieldNameId + "]\" class=\"form-control\"></div><br><a style=\"\" onclick=\"return deleteField(this)\" href=\"#\"><span class=\"glyphicon glyphicon-minus\"></span></a><a style=\"\" onclick=\"return addField()\" href=\"#\"><span class=\"glyphicon glyphicon-plus\"></span></a></p>";
     // Добавляем новый узел в конец списка полей
     document.getElementById("parentsubjectId").appendChild(div);
     // Возвращаем false, чтобы не было перехода по сслыке
     return false;
    }
</script>
<script>
    var countOfFieldsPersach = 1;
    var curFieldNameIdPersach = 1;
    var maxFieldLimitPersach = 10;

    function deleteFieldPersach(a) {
    if (countOfFieldsPersach > 1)
    {
     var contDiv = a.parentNode;
     contDiv.parentNode.removeChild(contDiv);
     countOfFieldsPersach--;
     }
     return false;
    }

    function addFieldPersach() {
     if (countOfFieldsPersach >= maxFieldLimitPersach) {
     alert("Число полей достигло своего максимума = " + maxFieldLimitPersach);
     return false;
     }
     countOfFieldsPersach++;
     curFieldNameIdPersach++;
     var div = document.createElement("div");
     div.innerHTML = "<p><div class=\"col-xs-2 col-sm-2 col-md-2 col-md-offset-3\"><input name=\"achievname[1]\" id=\"achievname[" + curFieldNameId + "]\" class=\"form-control\"></div><div class=\"col-xs-2 col-sm-2 col-md-2\"><input name=\"proof[" + curFieldNameId + "]\" id=\"proof[" + curFieldNameId + "]\" class=\"form-control\"></div><div class=\"col-xs-2 col-sm-2 col-md-2\"><input name=\"numbofpoints[" + curFieldNameId + "]\" id=\"numbofpoints[" + curFieldNameId + "]\" class=\"form-control\"></div><br><a style=\"\" onclick=\"return deleteFieldPersach(this)\" href=\"#\"><span class=\"glyphicon glyphicon-minus\"></span></a><a style=\"\" onclick=\"return addFieldPersach()\" href=\"#\"><span class=\"glyphicon glyphicon-plus\"></span></a></p>";
     document.getElementById("parentpersachId").appendChild(div);
     return false;
}
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id = "rootwizard">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul>
                    <li><a href="#tab1" data-toggle="tab">Личные данные</a></li>
                    <li><a href="#tab2" data-toggle="tab">Документы</a></li>
                    <li><a href="#tab3" data-toggle="tab">Адрес</a></li>
                    <li><a href="#tab4" data-toggle="tab">Заявления</a></li>
                    <li><a href="#tab5" data-toggle="tab">Экзамены</a></li>
                    <li><a href="#tab6" data-toggle="tab">Льготы</a></li>
                    <li><a href="#tab7" data-toggle="tab">Личные достижения</a></li>
                    <li><a href="#tab8" data-toggle="tab">Прочее</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="sname">Фамилия</label>
                            <input type = "text" name= "sname" id = "sname" class = "form-control" placeholder = "Иванов" value="{{data.application.abiturient.sname}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="name">Имя</label>
                            <input type = "text" name= "name" id = "name" class = "form-control" placeholder = "Иван" value="{{data.application.abiturient.fname}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="mname">Отчество</label>
                            <input type="text" name = "mname" id ="mname" class="form-control" placeholder="Иванович" value="{{data.application.abiturient.mname}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                        <p>
                            <label for="birthday">Дата рождения</label>
                            <input type="date" name = "birthday" id ="birthday" value="1997-01-01" class="form-control" value="{{data.application.abiturient.birthdate}}">
                        </p>
                    </div>
                    <div class ="col-xs-3 col-sm-6 col-md-6"  >
                        <label for="sex">Пол</label>
                        <p>
                            <input type="radio" name = "hostel" value="p1"{% if data.application.abiturient.sex == 'М' %} checked {% endif %}>Мужской
                            <input type="radio" name = "hostel" value="p2"{% if data.application.abiturient.sex == 'Ж' %} checked {% endif %}>Женский
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="birthplace">Место рождения</label>
                            <input type="text" name = "birthplace" id ="birthplace" class="form-control" placeholder="Татуин" value="{{data.application.abiturient.bithplace}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                        <p>
                            <label for="nation">Национальность(по желанию)</label>
                            <select id="nationality" name = "nationality" class="form-control">
                               {% for item in data.nationality %}
                               <option value="{{ item.id }}">{{ item.value }}</option>
                               {% endfor %}
                            </select>
                            <!--input id ="nationality" name="nationality" class="form-control" placeholder="Саха" value="{{item.application.abiturient.nationality}}"-->
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>
                            <label for="citizenship">Гражданство</label>
                            <input id="citizenship" name="citizenship" class="form-control" placeholder="РФ" hidden/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                        <p>
                            <label for="phone">Контактный телефон</label>
                            <input type="tel" name = "phone" id ="phone" class="form-control" placeholder="Телефон в формате 8-ххх-ххххххх или 8-хххх-хххххх" pattern="(8-[0-9]{3}-[0-9]{7})|(8-[0-9]{4}-[0-9]{6})" value="{{data.contacts.contact_type.value}}">
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>
                            <label for="inila">СНИЛС</label>
                            <input id="inila" name="inila" class="form-control" placeholder="123-456-789-00" {% if data.docs.doctype == "СНИЛС"%} value="СНИЛС"  {% endif %}>  />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="doctype">Вид документа, удостоверяющего личность</label>
                            <select id="doctype" name = "doctype" class="form-control">
                               {% for item in data.docType %}
                                    <option value="{{ item.id }}" {% if item.id === data.docs.id %}selected{% endif %}>{{ item.value }}</option>
                               {% endfor %}
                            </select>                 
                            
                        </p>
                    </div>
                </div>
                <p>
                    <div class = "row">
                        <div class = "col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                            <label for="serialdoc">Серия</label>
                            <input type = "text" name = "serialdoc" id = "serialdoc" class = "form-control" placeholder="1234" value="{{data.docs.serialno}}">
                        </div>
                        <div class = "col-xs-2 col-sm-2 col-md-2">
                            <label for="numberdoc">Номер</label>
                            <input type = "text" name = "numberdoc" id = "numberdoc" class = "form-control" placeholder="123456" value="{{data.docs.number}}">
                        </div>
                        <div class = "col-xs-2 col-sm-2 col-md-2">
                            <label for="datedoc">Дата выдачи</label>
                            <input type = "date" name = "datedoc" id = "datedoc" value="2011-01-01" class = "form-control" placeholder="" value="{{data.docs.issueDate}}">
                        </div>
                    </div>
                </p>
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="docissuer">Кем выдан</label>                                            
                            <input id="docissuer" name="docissuer" class="form-control" placeholder="СВФУ им. Аммосова" hidden/> 
                            
                        </p>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="edudoctype">Вид документа об образовании</label>
                            <select name="edudoctype" id="edudoctype" size="1" class="form-control" >
                                <option value="attestat">аттестат</option>
                                <option value="diplom">диплом</option>
                            </select>
                        </p>
                    </div>
                </div>
                <p>
                    <div class = "row">
                        <div class = "col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                            <label for="serialedudoc">Серия</label>
                            <input type = "text" name = "serialedudoc" id = "serialedudoc" class = "form-control" placeholder="1234" value="{{data.docs.docIssuer}}">
                        </div>
                        <div class = "col-xs-3 col-sm-3 col-md-3">
                            <label for="numberedudoc">Номер</label>
                            <input type = "text" name = "numberedudoc" id = "numberedudoc" class = "form-control" placeholder="123456" value="{{data.docs.number}}">
                        </div>
                    </div>
                </p>
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="prevedu">Предыдущие образование</label>
                            <p>
                                <input type = "radio" name= "prevedu" value="soo"{% if data.docs.doctype == "diplom" %} checked {% endif %}>СОО 
                                <input type = "radio" name= "prevedu" value="npo"{% if data.docs.doctype == "attestat" %} checked {% endif %}>НПО 
                                <input type = "radio" name= "prevedu" value="spo"{% if data.docs.doctype == "3"  %} checked {% endif %}>СПО 
                                <input type = "radio" name= "prevedu" value="vpo"{% if data.docs.doctype == "4" %} checked {% endif %}>ВПО
                            </p>
                        </p>
                    </div>
                </div>
                <p>
                    <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                                <label for="datejoining">Дата поступления</label>
                                <input type="date" name = "datejoining" id ="datejoining" class="form-control" value="2004-01-09" >
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label for="dateexiting">Дата окончания</label>
                                <input type="date" name = "dateexiting" id ="dateexiting" class="form-control" value="2015-01-06" >
                            </div>
                    </div>
                </p>
                <div class = "row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="preveduname">Название учебного заведения</label>                                            
                            <input id="preveduname" name="preveduname" class="form-control" placeholder="СВФУ им. Аммосова" hidden/>     
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                            <label for="adrstype">Тип адреса</label>
                            <select name="adrstype" id="adrstype" size="1" class="form-control">
                                <option value="perm">По прописке</option>
                                <option value="current">Фактический</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <label for="adrsindex">Индекс</label>
                            <input type = "text" name="adrsindex" id="adrsindex" class="form-control" placeholder="677000" {% if data.docs.zipcode != "" %} value="{{data.docs.zipcode}}" {% endif %}  {% if data.docs.zipcode == "" %} value="677000" {% endif %}> 
                        </div>
                     </p>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="territory">Область</label>
                            <input id="territory" class="form-control" placeholder="Республика Саха (Якутия)" value="{{Kladr.views.get_region}}">
                            <input name = "idterritory" id="idterritory" hidden>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="district">Район/улус</label>
                            <input id="district" class="form-control" placeholder="" value="{{Kladr.views.get_region}}">
                            <input name = "iddistrict" id="iddistrict" hidden>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="city">Город/село</label>
                            <input name="city" id="city" class="form-control" placeholder="Якутск" value="{{Kladr.views.get_region}}">
                            <input name="idcity" id="idcity" hidden>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="streets">Улица </label>
                            <input id ="streets" name="streets" class="form-control" placeholder="Ленина" value="{{data.docs.street}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                        <label for="adrshouse">Дом</label>
                        <input type="text" name="adrshouse" id="adrshouse" class="form-control" placeholder="1" value="{{data.docs.house}}">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <label for="adrsbuilding">Корпус</label>
                        <input type="text" name="adrsbuilding" id="adrsbuilding" class="form-control" placeholder="1" value="{{data.docs.building}}">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <label for="adrsflat">Квартира</label>
                        <input type="text" name="adrsflat" id="adrsflat" class="form-control" placeholder="1" value="{{data.docs.flat}}">
                    </div>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="option1">Адрес прописки совпадает с адресом факт. места жительства</label>
                            <br>
                            <input type = "radio" name= "option1" value="a11"{% if not data.application.address.adrs_type_same  %} checked {% endif %}>Нет
                            <input type = "radio" name= "option1" value="a12"{% if data.application.address.adrs_type_same  %} checked {% endif %}>Да
                        </p>
                    </div>
                </div>
                <!--<div class="row">
                    <p>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                            <label for="addbtn"></label>
                            <button type="button" id="Add" name="Add" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Добавить
                            </button>
                        </div>
                    </p>
                </div>-->

            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="option2">Прошу допустить меня к участию в конкурсе</label>
                            <br>
                            <input type = "radio" name= "option2" value="a21"{% if not data.application.budget  %} checked {% endif %}>на место в рамках контр.цифр приема
                            <input type = "radio" name= "option2" value="a22"{% if data.application.withfee  %} checked {% endif %}>на место по договорам об оказании платных обр.услуг
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="inst">Институт/факультет</label>
                            <input name="inst" id="inst" class="form-control" placeholder="Институт Математики и Информатики" value="{{data.application.department.name}}">
                            <input name="idinst" id="idinst" hidden>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="eduprog">Направление/специальность</label>
                            <input name="eduprog" id="eduprog" class="form-control" placeholder="информатика и вычислительная техника" value="{{data.education_prog.name}}">
                            <input name="ideduprog" id="ideduprog" hidden>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="eduprof">Профили в порядке убывания приоритета</label>
                            <input name="eduprof" id="eduprof" class="form-control" placeholder="">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                        <p>
                            <label for="option4">Форма обучения</label><br>
                            <input type = "radio" name= "option4" value="a41"{% if data.application.eduform == 'О' %} checked {% endif %}>Очная
                            <input type = "radio" name= "option4" value="a42"{% if data.application.eduform == 'З' %} checked {% endif %}>Заочная
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>
                            <label for="option8">Приоритетность поступления</label><br>
                            <input type = "radio" name= "option8" value="a41"{% if data.application == '' %} checked {% endif %}>Высокий
                            <input type = "radio" name= "option8" value="a42"{% if data.application == '' %} checked {% endif %}>Средний
                            <input type = "radio" name= "option8" value="a43"{% if data.application == '' %} checked {% endif %}>Низкий
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="edulvl">Уровень обучения</label>
                            <select name = "edulvl" size="1" id ="edulvl" class="form-control">
                            <option value = "bach">Бакалавриат</option>
                            <option value = "spec">Специалитет</option>
                            <option value = "mag">Магистатура</option>
                            </select>
                        </p>
                    </div>
                </div>
                <!--<div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                            <button type="button" id="Add" name="Add" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Добавить
                            </button>
                        </div>
                </div>
                -->
            </div>
        </div>
        <div class="tab-pane" id="tab5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                           <b>Прошу засчитать рез-ты ЕГЭ</b>
                        </p>
                    </div>
                </div>
                <div id="parentsubjectId" class="row">
                    <div>
                    {% for item in Exams %}
                        <p>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                            <label for="subject[1]">Дисциплина</label>
                            <input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика" value="{{item.data.exams.exam_subjects}}">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <label for="points[1]">Баллы</label>
                            <input name="points[1]" id="points[1]" class="form-control" placeholder="100"value="{{item.data.exams.points}}">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                            <label for="year[1]">Год</label>
                            <input name="year[1]" id="year[1]" class="form-control" placeholder="2015" value="{{item.data.exams.year}}">
                        </div>
                        {% endfor %}
                        <br>
                        <a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                        <a style="" onclick="return addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        </p>
                    </div>
                </div>
            <br>
            <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                           <b>Также прошу допустить к вступительным испытаниям по следующим предметам</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <div id="parentsubjectId" class="row">
                    <div>
                    {% for item in Exams %}
                        <p>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                            <label for="subject[1]">Дисциплина</label>
                            <input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика" value="{{item.data.exams.exam_subjects}}">
                        </div>
                    {% endfor %}
                        <br>
                        <a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                        <a style="" onclick="return addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        </p>
                    </div>
                </div>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                           <b>Прошу создать специальные условия при сдаче вступ. исп-й в связи с ограниченными возможностями здоровья</b>
                            <br>
                            <input type = "radio" name= "option8" value="a51"{% if not data.privilegies.category %} checked {% endif %}>Нет
                            <input type = "radio" name= "option8" value="a52"{% if data.privilegies.category %} checked {% endif %}>Да
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab6">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                            <label for="privcat">Категория</label>
                            <input type="text" id="privcat" size="1" class="form-control"  value="{{data.privilegies.category}}">
                        </div>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3" value="{{data.privilegies.priv_type}}">
                            <label for="privtype">Тип</label>
                            <input type="text" id="privtype" size="1" class="form-control">
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <label for="persach">Имеются ли достижения?</label>
                        <p>
                            <input type = "radio" name= "persach" value="a1"{% if not data.DepAchieves.profile  %} checked {% endif %}>Нет
                            <input type = "radio" name= "persach" value="a2"{% if data.DepAchieves.profile %} checked {% endif %}>Да
                        </p>
                    </div>
                </div>
                <div id="parentpersachId" class="row">
                    <div>
                        <p>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
                            <label for="achievname[1]">Наименование достижения</label>
                            <input name="achievname[1]" id="achievname[1]" class="form-control" placeholder="По жизни чемпион" value="{{data.achievements.result}}">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <label for="proof[1]">Подтверждающие документы</label>
                            <input name="proof[1]" id="proof[1]" class="form-control" placeholder="Я тебе говорю" value="{{data.docattr.value}}">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <label for="numbofpoints[1]">Причисляемый балл</label>
                            <input name="numbofpoints[1]" id="numbofpoints[1]" class="form-control" placeholder="+100" value="{{data.depachieves.points}}">
                        </div>
                        <br>
                        <a style="" onclick="return deleteFieldPersach(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                        <a style="" onclick="return addFieldPersach()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab8">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <p>
                            <label for="flang">Изучаемый иностранный язык</label>
                            <select name="flang" id="flang"  class="form-control">
                            {% for item in data.foreign_lang %}
                                <option name= "flang" id = "flang" class = "form-control" value="{{ item.id }}">{{ item.value }}</option>
                            {% endlfor %} 
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                        <label for="hostel">Нуждаетесь ли в общежитие?</label>
                        <p>
                            <input type = "radio" name= "hostel" value="a1"{% if not data.abiturient.hostel %} checked {% endif %}>Нет
                            <input type = "radio" name= "hostel" value="a2"{% if data.abiturient.hostel %} checked {% endif %}>Да
                        </p>
                    </div>
                </div>
                <p>
                    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                                <label for="option6">Являетесь ли вы военнообязанным?</label>
                                <p> 

                                    <input type = "radio" name= "option6" value="a61"{% if not data.milit.liableForMilit %} checked {% endif %}>Невоеннообязанный
                                    <input type = "radio" name= "option6" value="a62"{% if data.milit.liableForMilit %} checked {% endif %}>Военнообязанный
                                    
                                </p>
                            </div>
                    </div>
                </p>
                <p>
                    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                                <label for="option7">Служили в армии?</label>
                                <p>
                                    <input type = "radio" name= "option7" value="a61"{% if data.milit.isServed %} checked {% endif %}>Нет
                                    <input type = "radio" name= "option7" value="a62"{% if data.milit.isServed %} checked {% endif %}>Да
                                </p>
                            </div>
                    </div>
                </p>
                <p>
                    <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
                                <label for="yeararmy">Год увольнения из рядов РА</label>
                                <input type="text" name="yeararmy" id="yeararmy" class="form-control" placeholder="2014" value="{{ data.milit.yeardismissial }}">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label for="rank">Воинское звание</label>
                                <select name="rank" id="rank"  class="form-control">                               
                                    {% for item in data.rank %}
                                    <option name= "rank" id = "rank" class = "form-control" value="{{ item.id }}">{{ item.value }}</option>
                                    {% endlfor %} 
                                </select>
                            </div>
                            <p><button type="submit" class="btn btn-default" name="save">Сохранить</button></p>

                    </div>
                </p>

            </div>
        </div>
        <ul class="pager wizard">
            <li class="previous first"><a href="javascript:;">First</a></li>
            <li class="previous"><a href="javascript:;">Previous</a></li>
            <li class="next last" ><a href="javascript:;">Last</a></li>
            <li class="next"><a href="javascript:;">Next</a></li>
            <li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
        </ul>
    </div>
</div>
{% endblock %}
