.row div {
    height: 800px;
    background: #F0F8FF;
    color:black;
    
}

.rew1 div {
    height: 40px;
    background: #FAEBD7;
    border: 3px;
    border-bottom-color:aqua;
    border-color:cornflowerblue;

}

.rew1 {
  margin-right: -15px;
  margin-left: -15px;
}

.kost div {
    height: 100px;  
    background: #3c4150;
    color: aliceblue;
 
}
.kost {
  margin-right: -15px;
  margin-left: -15px;
}