.wizardform  h1 {
  text-align:center;
}

.wizardform  .lead {
  text-align:center;
}

ul.errorlist li {
  margin-top:13px;
  font-size:60%;
  list-style: none;
  color:#a94442;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: auto;
}

.wizardform .errormarks {
  padding:0px;
  text-align:left;
} 
