{% extends 'anketa\base.html' %}
</br>
{% block login %}
</br>
<div class="large-offset-3 large-6 columns">
<form action="/auth/login/" method="post">
{% csrf_token %}
<label for="username"> imya pol'zovatela</label>
<input type="text" name="username" id="username">
</br></br>
<label for="username"> parol'</label>
<input type="password" name="password" id="password">
</br></br>
{% if login_error %}
<label class="error">{{ login_error }}</label>
{% endif %}
<input class="button" type="submit" value="Voiti">
</form>
{% endblock %}
