{% extends 'anketa/profile.html' %}
{% load staticfiles %}
{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<style>

.palec:hover {
    cursor: pointer;
}
</style>
<script>
	var $currentRow=null;
	var $rowscount=3;
	var $selectedprog="";
	var $selecteddep=""	
	var $profilerow = 1;
	var $maxProfile = 5;

	function PopUp(row)
	{
		if($($currentRow).attr('id')==$(row).attr('id') && $("#applicationBlank").attr('class')=="panel panel-primary")
		{
			//$(row).html("Редактировать");
			$("#applicationBlank").attr('class','panel panel-primary hidden');			
			var trs=document.getElementsByClassName('dopTr');
			for(var i =trs.length; i>0;i--){
				trs[i-1].remove();
			}			
			$("#add").removeAttr("disabled");		
		}
		else
		{	
			$("#add").attr("disabled", "disabled");
			var id=parseInt($(row).attr('id'), 10);
			$.ajax({
				url:{% url 'getapplication' %},
				type:"GET",
				data:{'id':id},
				dataProcess:true,
				timeout:300,
				success:function(data){
					/*var list = new Array(); // list == array :DDDDDDDDDDDDDDDDDDDDD
					for(var i=0;i<parseInt(data['profiles_len']);i++)
					{
						list[i]={"id":data['profiles'][i]['id'],"text":data['profiles'][i]['profile']};
					}*/
					$("#eduname").select2('enable');
					$("#eduprof").select2('enable');
					$("#eduprior").select2('enable');
					$("#eduform").select2('enable');
					$("#department").select2('data',{id: data['department_id'], text:data['department_name']});
					$("#eduname").select2('data',{id: data['edu_prog_id'], text:data['edu_prog_name']});
					$('#ProfileTable').empty();
					//$("#eduform").select2('data',{id: data['edu_prog_eduform_id'], text:data['edu_prog_eduform_name']});

					//var $poop = $("#ProfileTable").find('input[id=eduprof]');
					$("#appnum").html("Заявление №"+data['app_num']);
					$("#reviewLink").attr("href","{% url 'staff:application_review' 104 %}");
					$profilerow=0;
					for(var i =0;i<parseInt(data['profiles_len']);i++){
						var addedrow = addProfile();
						addedrow.find('input[id=eduprof]').select2('data',{id:data['profiles'][i]['id'], text:data['profiles'][i]['profile']})
						addedrow.find('input[id=eduform]').select2('data',{id:data['profiles'][i]['prof_attr_id'], text:data['profiles'][i]['eduform']})
						addedrow.find('input[id=prof_id]').val(data['profiles'][i]['app_prof_id']);
						//$("#ProfileTable").find('input[id=eduprof]').select2('data',{id: list[i]['id'],text: list[i]['text']});				
						//$("#eduprof").select2('data',{id: list[i]['id'],text: list[i]['text']});
						$profilerow++;
					}
					/*
					var select = document.getElementById("eduprior");
					for(var i=0;i<select.length;i++){
						if(select.options[i].value==data['eduprior']){
							select.options[i].selected=true;
							alert(data['eduprior']);
						}							
					}*/
					if(data['budget']==true) $('#budget')[0].checked='checked'
					else $('#budget')[0].checked=''
					if(data['withfee']==true) $('#withfee')[0].checked='checked'
					else $('#withfee')[0].checked=''

					var $track = $('input[type=radio]')
					for(var i = 0; i<$track.length;i++){
						if($track[i].value==data['track'].toString())
							$track[i].checked='checked'
					}										
									
					$('#eduprior').select2("val",data['eduprior']);
					//$('#eduprior option[value="В"]').attr("choice","choice");
					//document.getElementsById("eduprior").options[2].selected=true;
					//$("#eduprior").options[2].selected=true;
					//$($currentRow).html("Редактировать");
					$currentRow=$(row);
					//$(row).html("Закрыть");
					$("#applicationBlank").attr('class','panel panel-primary');
				},
				error:function(data){
					alert("der'mishe");
				}
			});
		}
	};
	$(document).on("click","tr[id*='app']", function(e){
		e.preventDefault();
		PopUp(this);
	});
	$(document).on("click","button[id*='ydalit']", function()
	{
		AppDelete(this);
	});
	function select2(){
		$("#eduname").select2('disable');
		$("#eduprof").select2('disable');
		$("#eduprior").select2('disable');
		$("#eduform").select2('disable');
		$("#department").select2('val',"");
		$("#eduname").select2('val',"");
		$("#eduprof").select2('val',"");
		$("#eduprior").select2('val',"");
		$("#eduform").select2('val',"");
		//обнулить дерьмище
	};
	$(document).on('change','#eduprof',function(e){
		var tr=$(this).closest('tr');
		tr.find('input[id="eduform"]').select2('val','');
	});
	$("#add").on("click", function()
	{
		select2();
		if($("#applicationBlank").attr('class')=="panel panel-primary" && $currentRow==null)
		{
			$("#applicationBlank").attr('class','panel panel-primary hidden');
		}
		else
		{
			$("#applicationBlank").attr('class','panel panel-primary');
		}
		$currentRow=null;
	});

	$("#cancel").on("click", function(){
		select2();
		var trs=document.getElementsByClassName('dopTr');
		if(trs.length>1){			
			for(var i = 0;i<trs.length;i++){
				trs[i].remove();
				if($profilerow>1){
					$profilerow--;
				}
			}
		}
		$("#applicationBlank").attr('class','panel panel-primary hidden');
		if($("#add").attr("disabled")){
			$("#add").removeAttr("disabled");
		}
	});
	$("#save").on("click", function()
	{
		$("#facepalm").val("1");
		if($currentRow==null)
			$("#facepalm").val("-1");
		else
			$("#facepalm").val(parseInt($($currentRow).attr('id'), 10));
		$.ajax({
			url: {% url 'save_application' %},
			type:$("#applications").attr('method'),
			data:$("#applications").serialize(),
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				/*
				if($currentRow==null)
				{
					$rowscount++;
					$("#tablebody").append("<tr class='info'><td>"+ $("#department").val() + "</td> <td>"+ $("#eduname").val() + "</td> <td>"+ $("#eduprof").val() + "</td> <td>Подано</td> <td><button class='btn btn-default btn-sm' id='app"+$rowscount+"' type='button'>Редактировать</button></td></tr>");
				}
				else
				{
					$($currentRow).html("Редактировать");
				}
				$("#applicationBlank").attr('class','panel panel-primary hidden');
				*/
				if(data.error_msg!="")				
					alert(data.error_msg);
				//window.location.replace("{% url 'applicationList' %}");
			},
			error:function()
			{				
				alert("der'mishe");
			}
		});
	});
	function AppDelete(row)
	{		
		var id = parseInt($(row).attr('id'),10);
		$.ajax({
			url: {% url 'del_application' %},
			type:"GET",
			data:{'id':id},			
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				window.location.replace("{% url 'applicationList' %}");
			},
			error:function()
			{
				alert("der'mishe");
			}
		});
	};
	$("#department").select2({
		language:"ru",
		ajax:{
			url:{% url 'institute' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults: function(data, page)
			{
				return{
					results:data,
				};
			},
			cache:true
		}
	});
	$('#eduname').select2({
		language:"ru",
		ajax:
		{
			url:{% url 'eduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params, // search term
					id:$("#department").select2('data').id
				};
			},
			processResults: function (data, page) {
				return {
				  results: data,
				};
			},
			cache: true
		}
	});
	$('#eduprof').select2({
		language:"ru",
		ajax:{
			url:{% url 'eduprof' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params,
					id:$("#eduname").select2('data').id
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#eduform").select2({
		language:"ru",
		ajax:{
			url:{% url 'eduform' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params,
					id:$("#eduprof").select2('data').id
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#eduprior").select2({
		language:"ru"
	});
	$('#department').on("select2-selecting", function(e) {
		if($('#department').val())
		{
			if($selecteddep!=$('#department').select2('data').text)
			{
				$("#eduname").select2('val',"");
				$("#eduprof").select2('val',"");
				$("#eduprior").select2('val',"");
				$("#eduform").select2('val',"");
				//обнулить дерьмище
			}
		}
		$("#eduname").select2('enable');
	});
	$('#eduname').on("select2-selecting", function(e) {
		if($('#eduname').val())
		{
			if($selectedprog!=$('#eduname').select2('data').text)
			{
				$("#eduprof").select2('val',"");
				$("#eduprior").select2('val',"");
				$("#eduform").select2('val',"");
				//обнулить дерьмище
			}
		}
		$("#eduprof").select2('enable');
		$("#eduprior").select2('enable');
		$("#eduform").select2('enable');
		//открыть дерьмище
	});
	
	function initSelect2Prior(object){
		object.select2({
			language:"ru"
		});		
	};
	function initSelect2Prof(object){
		object.select2({
			language:"ru",
			allowClear:true,
			ajax:{
				url:{% url 'eduprof' %},
				dataType:'json',
				delay:250,
				data:function(params){
					return{
						query:params,
						id:$("#eduname").select2('data').id
					};
				},
				processResults:function(data,page)
				{
					return{
						results:data
					};
				},
				cache:true
			}
		});
		if($(object).val() != "")
		{
			for (var i = 0; i<sub_id.length;i++)
			{
				if(sub_id[i]===parseInt($(object).val()))
				{
					object.select2('data',{id:sub_id[i], text:sub_val[i]});
					return;
				}
			}
		}
	};
	function initSelect2Form(object){
		object.select2({
			language:"ru",
			allowClear:true,
			ajax:{
				url:{% url 'eduform' %},
				dataType:'json',
				delay:250,
				data:function(params){
					return{
						query:params,
						id:object.closest("tr").find('input[id=eduprof]').select2('data').id
					};
				},
				processResults:function(data,page)
				{
					return{
						results:data
					};
				},
				cache:true
			}
		});
		if($(object).val() != "")
		{
			for (var i = 0; i<sub_id.length;i++)
			{
				if(sub_id[i]===parseInt($(object).val()))
				{
					object.select2('data',{id:sub_id[i], text:sub_val[i]});
					return;
				}
			}
		}
	};
	$('input[id^="eduprof"]').each(function(){
		initSelect2Prof($(this));
	});
	$('input[id^="eduform"]').each(function(){
		initSelect2Form($(this));
	});
	$('input[id^="eduprior"]').each(function(){
		initSelect2Prior($(this));
	});
	function addProfile(){		
			var newRow = $('<tr class="info dopTr"><td><input type="hidden" name="prof_id" id="prof_id" value="-1"><input type="hidden" id="eduprof" name="eduprof"class="form-control"></td><td><input type="hidden" id="eduform" name="eduform" class="form-control"></td><td><button class="btn btn-default btn-sm" id="delProfileRow" type="button">Удалить</button></td></tr>');
			$("#ProfileTable").append(newRow);
			initSelect2Prof(newRow.find('input[id^="eduprof"]'));
			initSelect2Form(newRow.find('input[id^="eduform"]'));
			initSelect2Prior(newRow.find('select[id^="eduprior"]'));
			return newRow;
	};
	$("#addProfile").on("click", function(){
		if($profilerow<$maxProfile){
			$profilerow++;
			addProfile();
		}		
	});
	$(document).on("click","button[id*='delProfileRow']", function(){
		if($profilerow>1){
			$(this).parent().parent().remove();
			$profilerow--;
		}
	});
	function getGlobalVar(name){
	return localStorage.getItem(name);
	};
	
	$(document).ready(function(){
		var rowId = getGlobalVar('rowId');
		if(rowId){		
			PopUp($("tr[id="+rowId+"]"));		
		};
		localStorage.removeItem('rowId');	
	});

</script>
{% endblock %}
{% block container %}
<form name="applications" id = "applications" class="form-horizontal" role="form" method="post">
{% csrf_token %}
	<div class="col-md-9 col-xs-10 col-sm-8">
		<div class="row">
			<div class="col-md-12 col-xs-10 col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Ваши заявления</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-hover" id="table">
									<thead id="tablehead">
										<tr>
											<th>Номер</th>
											<th>Институт/факультет</th>
											<th>Направление/специальность</th>
											<th>Квалификация</th>
											<th>Профиль/форма обучения</th>
											<!--th>Форма обучения</th-->
											<th>Статус</th>
											<th>Приоритет</th>
											<th>Действие</th>
										</tr>
									</thead>
									<tbody id="tablebody">
									{% for item in applications %}
										<tr {% if item.app.appState.value == "Поданный" %} class="info palec" {% else %} {% if item.app.appState.value == "Подтвержденный" %} class="success palec" {% else %} class="palec" {% endif %} {% endif %} id="{{item.app.id}}app">
											<td>{{item.app.id}}</td>
											<td>{{item.app.department.name}}</td>
											<td>{% for i in item.prof|slice:":1" %} {{i.profile.profile.edu_prog.name}}{% endfor %}</td><!--._.-->
											<td>{% for i in item.prof|slice:":1" %}{{i.profile.profile.edu_prog.qualification.value}}{% endfor %}</td>
											<td>
												<!--select class="form-control"-->
													{% for i in item.prof %}
														<!--option--><p>{{ forloop.counter }}	{{i.profile.profile.name}}{% if i.profile.eduform == 'О'%} Очное {% endif %}{% if i.profile.eduform == 'ОЗ'%} Очно-заочное {% endif %}{% if i.profile.eduform == 'З'%} Заочное {% endif %}</p>
													{% endfor %}													
												<!--/select-->
											</td>
											<!--td>{% for i in item.prof %} {% if i.profile.eduform == 'О'%} Очное {% endif %}{% if i.profile.eduform == 'ОЗ'%} Очно-заочное {% endif %}{% if i.profile.eduform == 'З'%} Заочное {% endif %} , {% endfor %}</td-->
											<td>{{item.app.appState.value}}</td>
											<td>{% if item.app.priority == 'В' %}Высокий{% endif %}{% if item.app.priority == 'С' %}Средний{% endif %}{% if item.app.priority == 'Н' %}Низкий{% endif %}</td>
											<td>
												<button type="button" class="btn btn-danger pull-right" id="{{item.app.id}}ydalit">X</button>
												<input type="button" class="btn btn-primary" onclick="location.href='{% url 'staff:application_review' item.app.id %}';" value="Посмотреть" />
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<button class="btn btn-primary btn-block" type="button" id="add">Добавить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-10 col-sm-8">
				<div class="panel panel-primary hidden" id="applicationBlank" name="applicationBlank">
					<div class="panel-heading">
						<h3 class="panel-title" id="appnum">Заявление</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="department">Институт/факультет</label>
								<input type="hidden" class="form-control" id="department" name="department" placeholder="Институт математики и информатики">
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduname">Направление/специальность</label>
								<input type="hidden" class="form-control" name="eduname" id="eduname" placeholder="ИВТ" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduprior">Приоритет</label>
								<select id="eduprior" name="eduprior" class="form-control" disabled>
									<option value="В">Высокий
									<option value="С">Средний
									<option value="Н">Низкий
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="budget">В рамках контрольных цифр приёма</label>
								<input type="checkbox" name="budget" id="budget">
							</br>
								<label for="withfee">По договорам об оказании платных обр. услуг</label>
								<input type="checkbox" name="withfee" id="withfee">
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="track">Отслеживать заявление?</label>
									<p>
										<input type = "radio" name= "track" id = "tracktrue"  value = "true">Да
										<input type = "radio" name= "track" id = "trackfalse"  value = "false">Нет
									</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">						
								<table class="table" id="table">
									<thead id="tablehead">
										<tr>
											<th width="50%">Профиль</th>
											<th width="40%">Форма обучения</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="ProfileTable">
										<tr>
											<td>
												<input type="hidden" name="prof_id" id="prof_id" value="-1">
												<input type="hidden" id="eduprof" name="eduprof" class="form-control" disabled>
											</td>
											<td>
												<input type="hidden" id="eduform" name="eduform" class="form-control" disabled>
											</td>
											<td>
												<button class="btn btn-default btn-sm" id="delProfileRow" type="button">Удалить</button>
											</td>
										</tr>
									</tbody>						
								</table>
							</div>
						</div>
							<div class="row">
								<button class="btn btn-primary btn-block" type="button" id="addProfile">Добавить профиль</button>
							</div>
						</br>
						<input type="hidden" name="facepalm" id="facepalm">
						<div class="row">
							<div class="col-md-12">								
								<div class="pull-right">
									<div class="col-md-2 ">
										<button type="button" class="btn btn-danger" id="cancel">Отменить</button>
									</div>
								</div>
								<div class="pull-right">								
									<div class="col-md-2 ">
										<button type="button" class="btn btn-success" id="save">Сохранить</button>
									</div>
								</div>
								<!--div class="pull-right">
									<div class="col-md-2 ">
										<a href="" id="reviewLink">Посмотреть</a>
									</div>									
								</div-->							
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!--script type="text/javascript">
    var reformalOptions = {
        project_id: 977752,
        project_host: "abit-4ino.reformal.ru",
        tab_orientation: "left",
        tab_indent: "50%",
        tab_bg_color: "#F05A00",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
        tab_border_width: 2
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://abit-4ino.reformal.ru">Oтзывы и предложения для abit-anketa</a></noscript-->
{% endblock %}