{% extends 'anketa/profile.html' %}
{% load staticfiles %}
{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2_locale_ru.js" %}"></script>
<script>
	var $currentRow=null;
	var $rowscount=3;
	function PopUp(row)
	{
		if($($currentRow).attr('id')==$(row).attr('id') && $("#applicationBlank").attr('class')=="panel panel-primary")
		{
			$(row).html("Редактировать");
			$("#applicationBlank").attr('class','panel panel-primary hidden');
		}
		else
		{
			$($currentRow).html("Редактировать");
			$currentRow=$(row);
			$(row).html("Закрыть");
			$("#applicationBlank").attr('class','panel panel-primary');
		}
	};
	$(document).on("click","button[id*='row']", function()
	{
		PopUp($(this));
	});
	$("#add").on("click", function()
	{
		$currentRow=null;
		if($("#applicationBlank").attr('class')=="panel panel-primary")
		{
			$("#applicationBlank").attr('class','panel panel-primary hidden');
		}
		else
		{
			$("#applicationBlank").attr('class','panel panel-primary');
		}
	});
	$("#save").on("click", function()
	{
		$.ajax({
			url: {% url 'save_application' %},
			type:"POST",
			type:$("#applications").attr('method'),
			data:$("#applications").serialize(),
			dataProcess:true,
			timeout:500,
			success:function(data)
			{
				alert("jopa");
			},
			error:function()
			{
				alert("der'mishe");
			}
		});
		if($currentRow==null)
		{
			$rowscount++;
			$("#tablebody").append("<tr class='info'><td>"+ $("#department").val() + "</td> <td>"+ $("#eduname").val() + "</td> <td>"+ $("#eduprof").val() + "</td> <td>Подано</td> <td><button class='btn btn-default btn-sm' id='row"+$rowscount+"' type='button'>Редактировать</button></td></tr>");
		}
		else
		{
			$($currentRow).html("Редактировать");
		}
		$("#applicationBlank").attr('class','panel panel-primary hidden');
	});
	$("#department").select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'institute' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults: function(data, page)
			{
				return{
					results:data,
				};
			},
			cache:true
		}
	});
	$('#eduname').select2({
		language:"ru",
		ajax:
		{
			url:{% url 'eduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params, // search term
					id:$("#department").select2('data').id
				};
			},
			processResults: function (data, page) {
				return {
				  results: data,
				};
			},
			cache: true
		}
	});
	$('#eduprof').select2({
		language:"ru",
		/*
		ajax:{
			url:{% url 'eduprof' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params,
					id:$("#eduname").select2('data').id
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		},
		*/
	});
	$("#eduprior").select2({
		language:"ru"
	});
	$("#edulevel").select2({
		language:"ru"
	});
	$("#eduform").select2({
		language:"ru"
	});
	$('#department').on("select2-selecting", function(e) {
		$("#eduname").select2('enable');
	});
	$('#eduname').on("select2-selecting", function(e) {
		$("#eduprof").select2('enable');
		$("#eduprior").select2('enable');
		$("#edulevel").select2('enable');
		$("#eduform").select2('enable');
		//открыть дерьмище
	});
</script>
{% endblock %}
{% block container %}
<form name="applications" id = "applications" action="" class="form-horizontal" role="form" method="post">
{% csrf_token %}
	<div class="col-md-9 col-xs-10 col-sm-8">
		<div class="row">
			<div class="col-md-12 col-xs-10 col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Ваши заявления</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table" id="table">
								<thead id="tablehead">
									<tr>
										<th>Институт/факультет</th>
										<th>Направление/специальность</th>
										<th>Профиль</th>
										<th>Статус</th>
										<th>Действие</th>
									</tr>
								</thead>
								<tbody id="tablebody">
									<tr class="success">
										<td>ИМИ</td>
										<td>ИВТ</td>
										<td>-</td>
										<td>Экспортировано</td>
										<td><button class="btn btn-default btn-sm" id="row1" type="button">Редактировать</button></td>
									</tr>
									<tr class="danger" >
										<td>ИМИ</td>
										<td>ПМ</td>
										<td>-</td>
										<td>Аннулировано</td>
										<td><button class="btn btn-default btn-sm" id="row2"  type="button">Редактировать</button></td>
									</tr>
									<tr class="info">
										<td>ИМИ</td>
										<td>ФИИТ</td>
										<td>-</td>
										<td>Подано</td>
										<td><button class="btn btn-default btn-sm"  id="row3" type="button">Редактировать</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<button class="btn btn-primary btn-block" type="button" id="add">Добавить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-10 col-sm-8">
				<div class="panel panel-primary hidden" id="applicationBlank" name="applicationBlank">
					<div class="panel-heading">
						<h3 class="panel-title">Заявление</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="department">Институт/факультет</label>
								<input type="hidden" class="form-control" id="department" name="department" placeholder="Институт математики и информатики">
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduname">Направление/специальность</label>
								<input type="text" class="form-control" name="eduname" id="eduname" placeholder="ИВТ" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduprof">Профиль</label>
								<select multiple id="eduprof" name="eduprof" class="form-control" disabled>
									<option value="hey">hey
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduform">Форма обучения</label>
								<select id="eduform" name="eduform" class="form-control" disabled>
									<option value="hey">hey
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="edulevel">Уровень обучения</label>
								<select id="edulevel" name="edulevel" class="form-control" disabled>
									<option value="hey">hey
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 col-xs-8 col-sm-8">
								<label for="eduprior">Приоритетность поступления</label>
								<select id="eduprior" name="eduprior" class="form-control" disabled>
									<option value="high">Высокий
									<option value="normal">Средний
									<option value="low">Низкий
								</select>
							</div>
						</div>
						</br>
						<div class="row">
							<div class="col-md-9 col-xs-8 col-sm-8">
								<button type="button" class="btn btn-danger pull-right" id="del">Удалить</button>
							</div>
							<div class="col-md-2 col-xs-8 col-sm-8">
								<button type="button" class="btn btn-success pull-right" id="save">Сохранить</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}