{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<p>
		<a href="{% url 'startpage' %}"><link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}" ></a>
	</p>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "anketa/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="{% static "anketa/css/bootstrap-theme.min.css" %}" />
	{% block additionalcss %} {% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<center><img src="{% static "anketa/img/logo.png" %}" /></center>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
</body>
<!-- jQuery -->
<script src="{% static "anketa/js/jquery-1.11.0.min.js" %}" type="text/javascript"></script>
<script src="{% static "anketa/js/bootstrap.min.js" %}"></script>
{% block scripts %}{% endblock %}
</html>