            <div class="tab-pane" id="tab3">
				<div class="container-fluid">
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Адресная информация</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<p>
										<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
											<label for="adrstype">Тип адреса</label>
											<select name="adrstype" id="adrstype" size="1" class="form-control">
												<option value="perm">По прописке</option>
												<option value="current">Фактический</option>
											</select>
										</div>
										<div class="col-xs-6 col-sm-5 col-md-4">
											<label for="adrsindex">Индекс</label>
											<input type = "text" name="adrsindex" id="adrsindex" class="form-control" placeholder="677000" value="{{zipcode}}">
										</div>
									 </p>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
										<p>
											<label for="street">Улица </label>
											<div class="input-group">
												<input id ="street" name="street" class="form-control" placeholder="Ленина" value="{{street}}">
												<span class="input-group-btn">
													<button class="btn btn-default" type="button" id="kladrbtn">...</button>
												</span>
											</div>
										</p>
									</div>
								</div>
								<div class="row">
									<p>
										<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-2">
											<label for="adrshouse">Дом</label>
											<input type="text" name="adrshouse" id="adrshouse" class="form-control" placeholder="1" value="{{house}}">
										</div>
										<div class="col-xs-2 col-sm-2 col-md-2">
											<label for="adrsbuilding">Корпус</label>
											<input type="text" name="adrsbuilding" id="adrsbuilding" class="form-control" placeholder="1" value="{{building}}">
										</div>
										<div class="col-xs-2 col-sm-2 col-md-2">
											<label for="adrsflat">Квартира</label>
											<input type="text" name="adrsflat" id="adrsflat" class="form-control" placeholder="1" value="{{flat}}">
										</div>
									</p>
								</div>
								</br>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
										<p>
											<label for="adrsisthesame">Адрес прописки совпадает с адресом факт. места жительства</label>
											<br>
											<input type="radio" name = "adrsisthesame" value="no">Нет
											<input type="radio" name = "adrsisthesame" value="yes">Да
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Контакты</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<table class="table" id="table">
										<thead id="tablehead">
											<tr>
												<th>Тип контакта</th>
												<th>Номер</th>
											</tr>
										</thead>
										<tbody id="contactsTable">
											{% if contacts %}
												{% for item in contacts %}
												<tr>
													<td>
													<select id="contacttype" name = "contacttype" class="form-control">
														{% if contacts_type %}
															{% for item2 in contacts_type %}
																<option value="{{item2.id}}" {% if item.type.id == item2.id %} selected {% endif %}>{{item2.value}}</option>
															{% endfor %}
														{% endif %}
													</select>
													</td>
													<td><input type="text" class="form-control" name="contactvalue" value= {{item.value}}></td>
													<td><button class="btn btn-default btn-sm" id="delContactRow" type="button">Удалить</button></td>
												</tr>
												{% endfor %}
											{% else %}
											<tr>
												<td>
													<select id="contacttype" name = "contacttype" class="form-control">
														{% if contacts_type %}
															{% for item in contacts_type %}
																<option value="{{item.id}}">{{item.value}}</option>
															{% endfor %}
														{% endif %}
													</select>
												</td>
												<td><input type="text" class="form-control" name="contactvalue"></td>
												<td><button class="btn btn-default btn-sm" id="delContactRow" type="button">Удалить</button></td>
											</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
								<div class="row">
									<button class="btn btn-primary btn-block" type="button" id="addContact">Добавить контакт</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Родственники</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<table class="table" id="table">
										<thead id="tablehead">
											<tr>
												<th>Родственник</th>
												<th>ФИО</th>
												<th>Номер телефона</th>
											</tr>
										</thead>
										<tbody id="relationsTable">
											{% if relation %}
												{% for item in relation %}
												<tr>
													<td>
													<select id="relationtype" name = "relationtype" class="form-control">
														{% if relation_type %}
															{% for item2 in relation_type %}
																<option value="{{item2.id}}" {% if item.type.id == item2.id %} selected {% endif %}>{{item2.value}}</option>
															{% endfor %}
														{% endif %}
													</select>
													</td>
													<td><input type="text" class="form-control" name="relationFIO" value= {{item.fio}}></td>
													<td><input type="text" class="form-control" name="relationcontactvalue" value= {{item.value}}></td>
													<td><button class="btn btn-default btn-sm" id="delRelationRow" type="button">Удалить</button></td>
												</tr>
												{% endfor %}
											{% else %}
											<tr>
												<td>
													<select id="relationtype" name = "relationtype" class="form-control">
														{% if relation_type %}
															{% for item in relation_type %}
																<option value="{{item.id}}">{{item.value}}</option>
															{% endfor %}
														{% endif %}
													</select>
												</td>
												<td><input type="text" class="form-control" name="relationFIO"></td>
												<td><input type="text" class="form-control" name="relationcontactvalue"></td>
												<td><button class="btn btn-default btn-sm" id="delRelationRow" type="button">Удалить</button></td>
											</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
								<div class="row">
									<button class="btn btn-primary btn-block" type="button" id="addRelation">Добавить родственника</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
							<button class="btn btn-primary btn-block" type="button" id="save3">Сохранить</button>
						</div>
					</div>
				</div>
			</div>