{% extends "anketa/base.html" %}

{% block content %}
<center>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'anketa/css/feedback.css' %}" />
<h2>вы можете отправить нам сообщение</h2>
<b>Мы рады получить ваши вопросы, комментарии или предложения!</b>
<form action="" method="post">
{% csrf_token %}
{% for field in form %}<table><tr><th>{{ field.label }}:</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr></table>{% endfor %}
<input type="submit" value="Отправить" />
</form>
</center>
{% endblock %}