{% extends "anketa/base.html" %}

{% block content %}
<center>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'anketa/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'anketa/css/jquery-ui-1.10.4.custom.min.css' %}" />
<script src="{% static "anketa/js/jquery-ui-1.10.4.custom.min.js" %}" type="text/javascript"></script>
<script src="{% static "anketa/js/script.js" %}" type="text/javascript"></script>
<table><tr><td><p class="alertnote">Сервис работает в тестовом режиме до начала приёмной кампании.<br><a href="/abit-anketa/feedback/" target="_blank">Пожалуйста, дайте нам знать, если что-то не работает.<br>Мы рады получить ваши вопросы, комментарии или предложения!</a></p></td></tr></table>
<h1>ЗАЯВЛЕНИЕ</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
{% csrf_token %}
{{ address_formset.management_form }}
{{ milit_formset.management_form }}
{{ application_formset.management_form }}
{{ ege_formset.management_form }}
{{ need_exams_formset.management_form }}
{{ privilegies_formset.management_form }}
<table>
{% if person_form.errors.items|length == 1 %}<tr><td><p class="errornote">Пожалуйста, исправьте ошибку ниже.</p></td></tr>{% endif %}{% if person_form.errors.items|length > 1 %}<tr><td><p class="errornote">Пожалуйста, исправьте ошибки ниже.</p></td></tr>{% endif %}
</table>
<table>
{% for field in person_form %}<tr><th>{{ field.label }}:</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
</table>
{% for address_form in address_formset %}
{% if forloop.counter == 1 %}
<table>
<tr><th colspan="2"><label>Прописан по адресу:</label></th></tr>
</table>
<div class="address">
<table>
{% for field in address_form %}<tr><th>{{ field.label }}:</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
</table>
</div>
<table>
<tr><th colspan="2"><label>Проживаю по адресу:</label></th></tr>
{% for field in address_coincides_form %}<tr><th>{{ field.label }}:</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
</table>
{% endif %}
{% if forloop.counter == 2 %}
<div class="address">
<table>
{% for field in address_form %}<tr><th>{{ field.label }}:</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
</table>
</div>
{% endif %}
{% endfor %}
<table>
<tr><th colspan="2"><label>Военная обязанность:</label></th></tr>
{% for field in is_mil_service_form %}<tr><th>{{ field.label_tag }}</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
{% for milit_form in milit_formset %}
{% for field in milit_form %}<tr><th>{{ field.label_tag }}</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td></tr>{% endfor %}
{% endfor %}
</table>
<table>
<tr><th colspan="2"><label>Направления подготовки, специальности:</label></th></tr>
</table>
{% for application_form in application_formset %}
<div class="application">
<table>
{% for field in application_form %}<tr><th>{{ field.label_tag }}</th><td{% if field.errors %} class="error"{% endif %}>{{ field }}</td>{% if forloop.counter == 1 %}<td rowspan="4"><button type="button" class="del">Удалить</button></td>{% endif %}{% if forloop.counter > 1 %}<td></td>{% endif %}</tr>{% endfor %}
</table>
</div>
{% endfor %}
<table>
<tr><th colspan="2"><button type="button" id="application" class="application">Добавить</button></th></tr>
</table>
<table>
<tr><th colspan="5"><label>прошу засчитать результаты ЕГЭ в качестве результатов вступительных испытаний:</label></th></tr>
</table>
<table border="0" cellpadding="0">
<thead>
<tr><th>Дисциплина</th><th>№ свидетельства</th><th>год</th><th>балл</th><th></th></tr>
</thead>
<tbody>
{% for ege_form in ege_formset %}<tr class="ege">{% for field in ege_form %}<td{% if field.errors %} class="error"{% endif %}>{{ field }}</td>{% endfor %}<td><button type="button" class="delete">Удалить</button></td></tr>{% endfor %}
<tr><th colspan="5"><button type="button" id="ege" class="exam">Добавить</button></td></tr>
</tbody>
</table>
<table>
<tr><th colspan="3"><label>Также прошу допустить к вступительным испытаниям по следующим предметам:</label></th></tr>
</table>
<table border="0" cellpadding="0">
<thead>
<tr><th>Дисциплина</th><th>Форма экзамена</th><th></th></tr>
</thead>
<tbody>
{% for need_exams_form in need_exams_formset %}<tr class="need_exams">{% for field in need_exams_form %}<td{% if field.errors %} class="error"{% endif %}><center>{{ field }}</center></td>{% endfor %}<td><button type="button" class="delete">Удалить</button></td></tr>{% endfor %}
<tr><td colspan="3"><center><button type="button" id="need_exams" class="exam">Добавить</button></center></td></tr>
</tbody>
</table>
<table>
<tr><th colspan="2"><label>Льготы и приоритеты</label></th></tr>
</table>
{% for privilegies_form in privilegies_formset %}
<div class="privilegies">
<table>
{% for field in privilegies_form %}<tr><th>{{ field.label_tag }}</th><td>{{ field }}</td></tr>{% endfor %}
</table>
</div>
{% endfor %}
<table>
<tr><th colspan="2"><button type="button" id="privilegies" class="application">Добавить</button></th></tr>
</table>
<button>Подать заявление</button>
</form>
<a href="/abit-anketa/feedback/" target="_blank">Пожалуйста, дайте нам знать, если что-то не работает.</a>
</center>
{% endblock %}