{% extends 'anketa/profile.html' %}
{% load staticfiles %}
{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
<link href="{% static "anketa/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/moment.min.js" %}"></script>
<script src="{% static "anketa/js/ru.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/js/notify.js" %}"></script>
<script>
	{% include '../templates/kladr/kladr.js' %}
	$(document).ready(function() 
	{
		$('#adrsfact').hide();
		// AHAHAHAHHAHAHAHAHHAHAHAHHAHAHAHAHAHAHHAHAHAHAHAHAHHA
		var sub_id = new Array();
		var sub_val = new Array();
		{% if exams %}
			var egerows={{exams|length}}
			{% for item in exams %}
				sub_id.push({{item.subject}});
				sub_val.push("{{item.subject_value}}");
			{% endfor %}
		{% else %}
		var egerows = 1;
		{% endif %}
		var maxExams = 15;

		{% if exams %}
			var addrows={{add_exams|length}}
			{% for item in add_exams %}
				sub_id.push({{item.subject}});
				sub_val.push("{{item.subject_value}}");
			{% endfor %}
		{% else %}
		var addrows = 1;
		{% endif %}
		var maxAddExams = 15;

		{% if privileges %}
			var privrows={{privileges|length}}
		{% else %}
		var privrows = 0;
		{% endif %}
		var maxPriv = 15;

        {% if achievement %}
			var achievrows={{achievement|length}}
		{% else %}
		var achievrows = 0;
		{% endif %}
		var maxAchiev = 15;

		{% if contacts %}
			var contactsrow = {{contacts|length}};
		{% else %}
		var contactsrow = 1;
		{% endif %}
		var maxContacts = 10;

		{% if relations %}
			var relationsrow = {{relations|length}};
		{% else %}
		var relationsrow = 1;
		{% endif %}
		var maxRelations = 10;
		$(document).on("click","button[id*='delRelationRow']", function()
		{
			if(relationsrow>1)
			{
				$(this).parent().parent().remove();
				relationsrow--;
			}
		});
		{% include 'anketa/contacts.js' %}
		$("#addRelation").on("click", function()
		{
			if(contactsrow<maxContacts)
			{
				relationsrow++;
				var newRow = $('<tr><td><select id="relationtype" name = "relationtype" class="form-control">{% if relation_type %}{% for item in relation_type %}<option value="{{item.id}}">{{item.value}}</option>{% endfor %}{% endif %}</select></td><td><input type="text" class="form-control" name="relationFIO"></td><td><input type="text" class="form-control" name="relationcontactvalue"></td><td><button class="btn btn-default btn-sm" id="delRelationRow" type="button">Удалить</button></td></tr>');
				$("#relationsTable").append(newRow);
			}
		});

		function GetTabFormData(){
		    switch(parseInt($('.myTabs .active').prop('id'))) {
				case 1:
                	return $('#abitdata');
                	break;
				case 2:
				    return $('#documents');
                	break;
				case 3:
					return $('#contacts');
                	break;
				case 4:
					return $('#exams');
                	break;
				case 5:
					return $('#privileges');
                	break;
				case 6:
				    return $('#other');
				    break;
            }
		}
		$(document).on("click","button[id*='save']", function()
		{
			$("#currentPage").val(($(this).attr('id').slice('4')));
				$.ajax({
					url:{% url 'add_data_to_person' %},
					type:GetTabFormData().attr('method'),
					data:GetTabFormData().serialize(),
					dataProcess:true,
					timeout:500,
					success:function(data)
					{
						if (data['result']==="success")
						{
							$.notify("Сохранено.", "success");
						}
						else
						{
							$.notify("Что-то пошло не так :(", "error");
						}
						console.log('Result is loaded!');
					},
					error:function()
					{
						$.notify("Отсутствует соединение :(", "error");
					}
				});
		});
		function initSelect2(object){
			object.select2({
				language:"ru",
				allowClear:true,
				ajax:{
					url:{% url 'examsubject' %},
					dataType:'json',
					delay:250,
					data:function(params){
						return{
							query:params
						};
					},
					processResults:function(data,page)
					{
						return{
							results:data
						};
					},
					cache:true
				}
			});
			if($(object).val() != "")
			{
				for (var i = 0; i<sub_id.length;i++)
				{
					if(sub_id[i]===parseInt($(object).val()))
					{
						object.select2('data',{id:sub_id[i], text:sub_val[i]});
						return;
					}
				}
			}
		};
		{% include 'anketa/exams.js' %}
		$('input[type=radio][name=adrsisthesame]').change(function()
		{
			if (this.value == "yes")
			{
				$("#adrstype").prop('disabled',true);
				$("#adrstype").val("perm");
			}
			else
			{
				$("#adrstype").prop('disabled',false);
			}
		});
		{% include 'anketa/other.js' %}
        {% include 'anketa/privileges.js' %}
		$("#adrstype").change(function(){
		$.ajax({
			url:{% url 'getaddress' %},
			type:"POST",
			data:$("#persondata").serialize(),
			dataProcess:true,
			timeout:300,
			success:function(data){
				if(parseInt(data['success'])===1)
				{
					$("#adrsindex").val(data['index']);
					$("#street").val(data['street']);
					$("#adrshouse").val(data['house']);
					$("#adrsbuilding").val(data['building']);
					$("#adrsflat").val(data['flat']);
				}
				else
				{
					$("#adrsindex").val('');
					$("#street").val('');
					$("#adrshouse").val('');
					$("#adrsbuilding").val('');
					$("#adrsflat").val('');
				}
			},
			error:function(){
				alert("");
			}
		});
	});
	$('#rootwizard').bootstrapWizard(
	{
		onTabShow: function(tab, navigation, index) 
		{
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			document.getElementById("progress-bar").style.width=$percent+'%';
			// If it's the last tab then hide the last button and show the finish instead
			if($current >= $total) 
			{
				$('#rootwizard').find('.pager .next').hide();
				$('#rootwizard').find('.pager .finish').show();
				$('#rootwizard').find('.pager .finish').removeClass('disabled');
			} 
			else 
			{
				$('#rootwizard').find('.pager .next').show();
				$('#rootwizard').find('.pager .finish').hide();
			}
		}
	});
	$("#birthday").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		defaultDate:'{{birthdate|date:"Y-m-d"}}'
	});
	$("#datedoc").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if doctype_date %} defaultDate:'{{doctype_date|date:"Y-m-d"}}' {% endif %}
	});
	$("#datejoining").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if datejoining %} defaultDate:'{{datejoining|date:"Y-m-d"}}' {% endif %}
	});
	$("#dateexiting").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if edudoctype_date %} defaultDate:'{{edudoctype_date|date:"Y-m-d"}}' {% endif %}
	});
	$("#nation").select2({
		language:"ru",
		allowClear:true,
		placeholder: "Саха",
		ajax:{
			url:{% url 'nation' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#citizenship").select2({
		placeholder: "РФ",
		ajax:{
			url:{% url 'citizenship' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#doctype").select2({
		language:"ru",
		placeholder: "Паспорт",
		ajax:{
			url:{% url 'doctype' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#docissuer').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'docissuer' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$("#edudoctype").select2({
		language:"ru",
		ajax:{
			url:{% url 'edudoctype' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#preveduname').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#additionalExams').select2({
		language:"ru",
		multiple:true,
		ajax:{
			url:{% url 'examsubject' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params,
					id:$("#eduname").select2('data').id
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
			}
	});
	var addExamsList = new Array();
	{% if addExams %}
		{% for item in addExams %}
			addExamsList.push({"id":{{item.subject}},"text":"{{item.subject_value}}"});
		{% endfor %}
		$("#additionalExams").select2('data',addExamsList);
	{% endif %}

	{% if nationality != None  %}
		$("#nation").select2('data',{id: '{{nationality_id}}', text:"{{nationality}}"});
	{% endif %}
	{% if citizenship != None  %}
		$("#citizenship").select2('data',{id: '{{citizenship_id}}', text:"{{citizenship}}"});
	{% endif %}
	{% if doctype != None  %}
		$("#doctype").select2('data', {id : "{{doctype_id}}" , text: "{{doctype}}"});
	{% endif %}
	{% if doctype_issuer != None %}
		$("#docissuer").select2('data', {id : "{{doctype_issuer_id}}" , text: "{{doctype_issuer}}"});
	{% endif %}
	{% if edudoctype != None  %}
		$("#edudoctype").select2('data', {id : "{{edudoctype_id}}" , text: "{{edudoctype}}"});
	{% endif %}
	{% if edudoctype_issuer != None %}
		$("#preveduname").select2('data', {id : "{{doctype_issuer_id}}" , text: "{{doctype_issuer}}"});
	{% endif %}
	{% if rank != None  %}
		$("#rank").select2('data',{id: '{{rank_id}}', text:"{{rank}}"});
	{% endif %}
	{% if flang != None  %}
		$("#flang").select2('data',{id: '{{flang_id}}', text:"{{flang}}"});
	{% endif %}
	});
function getGlobalVar(name){
	return localStorage.getItem(name);
};
function tabInit(arg){
		var $lis = document.getElementById("myTabs");
		var $tabs = document.getElementsByClassName("tab-pane");
		var $total = $lis.children.length;
		var $current = arg;
		var $percent = ($current/$total) * 100;
		$lis.children[0].className = "";
		$lis.children[arg-1].className = "active";
		$tabs[0].className = "tab-pane";
		$tabs[arg-1].className = "tab-pane active";		
		document.getElementById("progress-bar").style.width=$percent+'%';
};
$(document).ready(function(){
	var li = getGlobalVar('li');
	if(li){		
		tabInit(li);		
	};
	localStorage.removeItem('li');	
});
</script>
{% endblock %}
{% block container %}
{% include '../templates/kladr/kladr.html' %}
<!-- <form id="persondata" name="persondata" class="form-horizontal" role="form" method="post" >-->
{% csrf_token %}
	<div id="rootwizard" class="col-md-9 col-xs-12 col-sm-12">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="myTabs" id="myTabs">
						<li id="1"><a href="#tab1" data-toggle="tab">Личные данные</a></li>
						<li id="2"><a href="#tab2" data-toggle="tab">Документы</a></li>
						<li id="3"><a href="#tab3" data-toggle="tab">Контактные данные</a></li>
						<li id="4"><a href="#tab4" data-toggle="tab">Экзамены</a></li>
						<li id="5"><a href="#tab5" data-toggle="tab">Льготы и достижения</a></li>
						<li id="6"><a href="#tab6" data-toggle="tab">Прочее</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="progress">
			<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" style=""></div>
		</div>
		<input type="hidden" name="currentPage" id="currentPage">
		<div class="tab-content">
			{% include 'anketa/abitdata.html' %}
			{% include 'anketa/documents.html' %}
			{% include 'anketa/contacts.html' %}
			{% include 'anketa/exams.html' %}
			{% include 'anketa/privileges.html' %}
			{% include 'anketa/other.html' %}
			<ul class="pager wizard">
				<li class="previous"><a href="javascript:;">Предыдущий</a></li>
				<li class="next"><a href="javascript:;">Следующий</a></li>
				<li class="next finish" style="display:none;"><a href="javascript:;">Завершить</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}