{% extends 'anketa/profile.html' %}
{% load staticfiles %}
{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
<link href="{% static "anketa/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2.css" %}" rel="stylesheet">
<link href="{% static "anketa/select2-3.5.4/select2-bootstrap.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/moment.min.js" %}"></script>
<script src="{% static "anketa/js/ru.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "anketa/select2-3.5.4/select2.min.js" %}"></script>
<script src="{% static "anketa/js/kladr.js" %}"></script>
<script src="{% static "anketa/js/notify.js" %}"></script>
<script>
	$(document).ready(function() 
	{
		// AHAHAHAHHAHAHAHAHHAHAHAHHAHAHAHAHAHAHHAHAHAHAHAHAHHA
		var sub_id = new Array();
		var sub_val = new Array();
		{% if exams %}
			var egerows={{exams|length}}
			{% for item in exams %}
				sub_id.push({{item.subject}});
				sub_val.push("{{item.subject_value}}");
			{% endfor %}
		{% else %}
		var egerows = 1;
		{% endif %}
		var maxExams = 10;
		{% if contacts %}
			var contactsrow = {{contacts|length}};
		{% else %}
		var contactsrow = 1;
		{% endif %}
		var maxContacts = 10;
		{% if relations %}
			var relationsrow = {{relations|length}};
		{% else %}
		var relationsrow = 1;
		{% endif %}
		var maxRelations = 10;
		$(document).on("click","button[id*='delRelationRow']", function()
		{
			if(relationsrow>1)
			{
				$(this).parent().parent().remove();
				relationsrow--;
			}
		});
		{% include 'anketa\contacts.js' %}
		$("#addRelation").on("click", function()
		{
			if(contactsrow<maxContacts)
			{
				relationsrow++;
				var newRow = $('<tr><td><select id="relationtype" name = "relationtype" class="form-control">{% if relation_type %}{% for item in relation_type %}<option value="{{item.id}}">{{item.value}}</option>{% endfor %}{% endif %}</select></td><td><input type="text" class="form-control" name="relationFIO"></td><td><input type="text" class="form-control" name="relationcontactvalue"></td><td><button class="btn btn-default btn-sm" id="delRelationRow" type="button">Удалить</button></td></tr>');
				$("#relationsTable").append(newRow);
			}
		});
		$(document).on("click","button[id*='delExamRow']", function()
		{
			if(egerows>1)
			{
				$(this).parent().parent().remove();
				egerows--;
			}
		});
		$("#addExam").on("click", function()
		{
			if(egerows<maxExams)
			{
				egerows++;
				var newRow = $('<tr><td><input type="hidden" class="form-control" name="egeDisc"></td><td><input type="text" class="form-control" name="egePoints"></td><td><input type="text" class="form-control" name="egeYear"></td><td><button class="btn btn-default btn-sm" id="delExamRow" type="button">Удалить</button></td></tr>');
				$("#egeTableBody").append(newRow);
				initSelect2(newRow.find('input[name^="egeDisc"]'));
			}
			
		});
		$(document).on("click","button[id*='save']", function()
		{
			$("#currentPage").val(($(this).attr('id').slice('4')));
			$.ajax({
				url:{% url 'add_data_to_person' %},
				type:$("#persondata").attr('method'),
				data:$("#persondata").serialize(),
				dataProcess:true,
				timeout:500,
				success:function(data)
				{
					if (data==="success")
					{
						$.notify("Сохранено.", "success");
					}
					else
					{
						$.notify("Что-то пошло не так :(", "error");
					}
					
				},
				error:function()
				{
					$.notify("Отсутствует соединение :(", "error");
				}
			});
		});
		function initSelect2(object){
			object.select2({
				language:"ru",
				allowClear:true,
				ajax:{
					url:{% url 'examsubject' %},
					dataType:'json',
					delay:250,
					data:function(params){
						return{
							query:params
						};
					},
					processResults:function(data,page)
					{
						return{
							results:data
						};
					},
					cache:true
				}
			});
			if($(object).val() != "")
			{
				for (var i = 0; i<sub_id.length;i++)
				{
					if(sub_id[i]===parseInt($(object).val()))
					{
						object.select2('data',{id:sub_id[i], text:sub_val[i]});
						return;
					}
				}
			}
		};
		$('input[name^="egeDisc"]').each(function()
		{
			initSelect2($(this));
		});
		$('input[type=radio][name=adrsisthesame]').change(function()
		{
			if (this.value == "yes")
			{
				$("#adrstype").prop('disabled',true);
				$("#adrstype").val("perm");
			}
			else
			{
				$("#adrstype").prop('disabled',false);
			}
		});
		$('input[type=radio][name=liableForMilit]').change(function()
		{
			if (this.value == "yes")
			{
				$("#isServedRow").show();
			}
			else
			{
				$("#isServedRow").hide();
			}
		});
		$('input[type=radio][name=isServed]').change(function()
		{
			if (this.value == "yes")
			{
				$("#armyRow").show();
			}
			else
			{
				$("#armyRow").hide();
			}
		});
		$('input[type=radio][name=privileges]').change(function()
		{
			if (this.value == "yes")
			{
				$("#privcatrow").show();
				$("#privtyperow").show();
			}
			else
			{
				$("#privcatrow").hide();
				$("#privtyperow").hide();
			}
		});
		$('input[type=radio][name=persach]').change(function()
		{
			if (this.value == "yes")
			{
				$("#achRow").show();
			}
			else
			{
				$("#achRow").hide();
			}
		});
		$("#adrstype").change(function(){
		$.ajax({
			url:{% url 'getaddress' %},
			type:"POST",
			data:$("#persondata").serialize(),
			dataProcess:true,
			timeout:300,
			success:function(data){
				if(parseInt(data['success'])===1)
				{
					$("#adrsindex").val(data['index']);
					$("#street").val(data['street']);
					$("#adrshouse").val(data['house']);
					$("#adrsbuilding").val(data['building']);
					$("#adrsflat").val(data['flat']);
				}
				else
				{
					$("#adrsindex").val('');
					$("#street").val('');
					$("#adrshouse").val('');
					$("#adrsbuilding").val('');
					$("#adrsflat").val('');
				}
			},
			error:function(){
				alert("дерьмище");
			}
		});
	});
	$('#rootwizard').bootstrapWizard(
	{
		onTabShow: function(tab, navigation, index) 
		{
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			document.getElementById("progress-bar").style.width=$percent+'%';
			// If it's the last tab then hide the last button and show the finish instead
			if($current >= $total) 
			{
				$('#rootwizard').find('.pager .next').hide();
				$('#rootwizard').find('.pager .finish').show();
				$('#rootwizard').find('.pager .finish').removeClass('disabled');
			} 
			else 
			{
				$('#rootwizard').find('.pager .next').show();
				$('#rootwizard').find('.pager .finish').hide();
			}
		}
	});
	$("#birthday").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		defaultDate:'{{birthdate|date:"Y-m-d"}}'
	});
	$("#datedoc").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if doctype_date %} defaultDate:'{{doctype_date|date:"Y-m-d"}}' {% endif %}
	});
	$("#datejoining").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if datejoining %} defaultDate:'{{datejoining|date:"Y-m-d"}}' {% endif %}
	});
	$("#dateexiting").datetimepicker({
		format:'DD/MM/YYYY',
		locale:"ru",
		{% if edudoctype_date %} defaultDate:'{{edudoctype_date|date:"Y-m-d"}}' {% endif %}
	});
	$("#nation").select2({
		language:"ru",
		allowClear:true,
		placeholder: "Саха",
		ajax:{
			url:{% url 'nation' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#citizenship").select2({
		placeholder: "РФ",
		ajax:{
			url:{% url 'citizenship' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
		}
	});
	$("#doctype").select2({
		language:"ru",
		placeholder: "Паспорт",
		ajax:{
			url:{% url 'doctype' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#docissuer').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'docissuer' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$("#edudoctype").select2({
		language:"ru",
		ajax:{
			url:{% url 'edudoctype' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#preveduname').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#additionalExams').select2({
		language:"ru",
		multiple:true,
		ajax:{
			url:{% url 'examsubject' %},
			dataType:'json',
			delay:250,
			data:function(params){
				return{
					query:params,
					id:$("#eduname").select2('data').id
				};
			},
			processResults:function(data,page)
			{
				return{
					results:data
				};
			},
			cache:true
			}
	});
	var addExamsList = new Array();
	{% if addExams %}
		{% for item in addExams %}
			addExamsList.push({"id":{{item.subject}},"text":"{{item.subject_value}}"});
		{% endfor %}
		$("#additionalExams").select2('data',addExamsList);
	{% endif %}
	$('#privcat').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#privtype').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#achievement').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#achievementDoc').select2({
		language:"ru",
		minimumInputLength: 1,
		ajax:{
			url:{% url 'preveduname' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#rank').select2({
		allowClear:true,
		placeholder: "Рядовой",
		language:"ru",
		ajax:{
			url:{% url 'rank' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	$('#flang').select2({
		language:"ru",
		ajax:{
			url:{% url 'flang' %},
			dataType: 'json',
			delay: 250,
			data:function(params){
				return{
					query: params
				};
			},
			processResults: function (data, page) {
				return {
					results: data
				};
			},
			cache: true
		}
	});
	{% if nationality != None  %}
		$("#nation").select2('data',{id: '{{nationality_id}}', text:"{{nationality}}"});
	{% endif %}
	{% if citizenship != None  %}
		$("#citizenship").select2('data',{id: '{{citizenship_id}}', text:"{{citizenship}}"});
	{% endif %}
	{% if doctype != None  %}
		$("#doctype").select2('data', {id : "{{doctype_id}}" , text: "{{doctype}}"});
	{% endif %}
	{% if doctype_issuer != None %}
		$("#docissuer").select2('data', {id : "{{doctype_issuer_id}}" , text: "{{doctype_issuer}}"});
	{% endif %}
	{% if edudoctype != None  %}
		$("#edudoctype").select2('data', {id : "{{edudoctype_id}}" , text: "{{edudoctype}}"});
	{% endif %}
	{% if edudoctype_issuer != None %}
		$("#preveduname").select2('data', {id : "{{doctype_issuer_id}}" , text: "{{doctype_issuer}}"});
	{% endif %}
	{% if rank != None  %}
		$("#rank").select2('data',{id: '{{rank_id}}', text:"{{rank}}"});
	{% endif %}
	{% if flang != None  %}
		$("#flang").select2('data',{id: '{{flang_id}}', text:"{{flang}}"});
	{% endif %}
	});
</script>
{% endblock %}
{% block container %}
{% include '..\templates\kladr\kladr.html' %}
<form id="persondata" name="persondata" class="form-horizontal" role="form" method="post" >
{% csrf_token %}
	<div id="rootwizard" class="col-md-9 col-xs-12 col-sm-12">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul>
						<li><a href="#tab1" data-toggle="tab">Личные данные</a></li>
						<li><a href="#tab2" data-toggle="tab">Документы</a></li>
						<li><a href="#tab3" data-toggle="tab">Контактные данные</a></li>
						<li><a href="#tab4" data-toggle="tab">Экзамены</a></li>
						<li><a href="#tab5" data-toggle="tab">Льготы и достижения</a></li>
						<li><a href="#tab6" data-toggle="tab">Прочее</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="progress">
			<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" style=""></div>
		</div>
		<input type="hidden" name="currentPage" id="currentPage">
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
				<div class = "container-fluid">
					<div class = "row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<p>
								<label for="sname">Фамилия</label>
								<input type = "text" name= "sname" id = "sname" class = "form-control" placeholder = "Иванов" value="{{ sname }}">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<p>
								<label for="name">Имя</label>
								<input type = "text" name= "name" id = "name" class = "form-control" placeholder = "Иван" value="{{ fname }}">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<p>
								<label for="mname">Отчество</label>
								<input type="text" name = "mname" id ="mname" class="form-control" placeholder="Иванович" value="{{ mname }}">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
							<p>
								<label for="birthday">Дата рождения</label>
								<div class='input-group date' id='birthday'>
									<input type="text" class="form-control" name="birthday" />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
								</div>
							</p>
						</div>
						<div class ="col-xs-6 col-sm-5 col-md-3">
							<label for="sex">Пол</label>
								<p>
									<input type="radio" name = "sex" value="М" {% if sex == "М" %} checked {% endif %}>Мужской
									<input type="radio" name = "sex" value="Ж" {% if sex == "Ж" %} checked {% endif %}>Женский
								</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<p>
								<label for="birthplace">Место рождения</label>
								<input type="text" name = "birthplace" id ="birthplace" class="form-control" placeholder="Татуин" value ="{{ birthplace }}">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
							<p>
								<label for="nation">Национальность(по желанию)</label>
								<input type="hidden" class="form-control" id ="nation" name="nation">
							</p>
						</div>
						<div class="col-xs-6 col-sm-5 col-md-4">
							<p>
								<label for="citizenship">Гражданство</label>
								<input type="hidden" id="citizenship" name="citizenship" class="form-control"> 
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<button class="btn btn-primary btn-block" type="button" id="save1">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab2">
				<div class = "container-fluid">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Документ, удостоверяющий личность</h3>
						</div>
						<div class="panel-body">
							<div class = "row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<p>
										<label for="doctype">Вид документа, удостоверяющего личность</label>
										<input type="hidden" id="doctype" name="doctype" class="form-control">
									</p>
								</div>
							</div>
							<p>
								<div class = "row">
									<div class = "col-xs-2 col-sm-2 col-md-2 col-md-offset-2">
										<label for="serialdoc">Серия</label>
										<input type = "text" name = "serialdoc" id = "serialdoc" class = "form-control" placeholder="1234" {% if doctype_serial %} value="{{doctype_serial}}" {% endif %}>
									</div>
									<div class = "col-xs-2 col-sm-2 col-md-2">
										<label for="numberdoc">Номер</label>
										<input type = "text" name = "numberdoc" id = "numberdoc" class = "form-control" placeholder="123456" {% if doctype_number %} value="{{doctype_number}}" {% endif %}>
									</div>
									<div class = "col-xs-2 col-sm-2 col-md-4">
										<label for="datedoc">Дата выдачи</label>
										<div class='input-group date' id='datedoc'>
											<input type="text" class="form-control" name="datedoc" />
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
										</div>
									</div>
								</div>
							</p>
							<div class = "row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<p>
										<label for="docissuer">Кем выдан</label>
										<input type="hidden" name= "docissuer" id = "docissuer" class = "form-control" placeholder = "Отделом УФМС по Российской Федерации, г. Якутск">
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Документ об образовании</h3>
						</div>
						<div class="panel-body">
							<div class = "row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<p>
										<label for="edudoctype">Вид документа об образовании</label>
										<input type="hidden" id="edudoctype" name="edudoctype" class="form-control">
									</p>
								</div>
							</div>
							<p>
								<div class = "row">
									<div class = "col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
										<label for="serialedudoc">Серия</label>
										<input type = "text" name = "serialedudoc" id = "serialedudoc" class = "form-control" placeholder="1234" {% if edudoctype_serial %} value="{{edudoctype_serial}}" {% endif %}>
									</div>
									<div class = "col-xs-6 col-sm-5 col-md-4">
										<label for="numberedudoc">Номер</label>
										<input type = "text" name = "numberedudoc" id = "numberedudoc" class = "form-control" placeholder="123456" {% if edudoctype_number %} value="{{edudoctype_number}}" {% endif %}>
									</div>
								</div>
							</p>
							<div class = "row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<p>
										<label for="prevedu">Предыдущие образование</label>
										<p>
											<input type = "radio" name= "prevedu" id = "prevedu" {% if prevedu == "СОО" %} checked {% endif %} value = "soo">СОО
											<input type = "radio" name= "prevedu" id = "prevedu" {% if prevedu == "НПО" %} checked {% endif %} value = "npo">НПО
											<input type = "radio" name= "prevedu" id = "prevedu" {% if prevedu == "СПО" %} checked {% endif %} value = "spo">СПО
											<input type = "radio" name= "prevedu" id = "prevedu" {% if prevedu == "ВПО" %} checked {% endif %} value = "vpo">ВПО
										</p>
									</p>
								</div>
							</div>
							<p>
								<div class="row">
										<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
											<label for="datejoining">Дата поступления</label>
											<div class='input-group date' id='datejoining'>
												<input type="text" class="form-control" name="datejoining" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
											</div>
										</div>
										<div class="col-xs-6 col-sm-5 col-md-4">
											<label for="dateexiting">Дата окончания</label>
											<div class='input-group date' id='dateexiting'>
												<input type="text" class="form-control" name="dateexiting" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
											</div>
										</div>
								</div>
							</p>
							<div class = "row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<p>
										<label for="preveduname">Название учебного заведения</label>
										<input type="hidden" name= "preveduname" id = "preveduname" class = "form-control" placeholder = "МОУ СОШ № 1, г. Якутск">
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">СНИЛС</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
											<p>
												<label for="inila">СНИЛС</label>
												<input id="inila" name="inila" class="form-control" placeholder="123-456-789-00" {% if inila %} value={{inila}} {% endif %}/>
											</p>
										</div>
									</div>
								</div>
							</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<button class="btn btn-primary btn-block" type="button" id="save2">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
			{% include 'anketa\contacts.html' %}
			{% include 'anketa\exams.html' %}
			<div class="tab-pane" id="tab5">
				<div class="container-fluid">
					<div class ="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<label for="privileges">Имеются ли льготы?</label>
							<p>
								<input type="radio" name = "privileges" value="no">Нет
								<input type="radio" name = "privileges" value="yes">Да
							</p>
						</div>
					</div>
					<div class="row">
						<p>
							<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2" id="privcatrow" {% if not privcat %} hidden {% endif %}>
								<label for="privcat">Категория</label>
								<input type="hidden" id="privcat" class="form-control">
							</div>
						</p>
					</div>
					<div class="row">
						<p>
							<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2" id="privtyperow" {% if not privtype %} hidden {% endif %}>
								<label for="privtype">Тип</label>
								<input type="hidden" id="privtype" class="form-control">
							</div>
						</p>
					</div>
					</br>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<label for="persach">Имеются ли достижения?</label>
							<p>
								<input type="radio" name = "persach" value="no">Нет
								<input type="radio" name = "persach" value="yes">Да
							</p>
						</div>
					</div>
					<div id="achRow" class="row" {% if not achievements %} hidden {% endif %}>
						<p>
							<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
								<label for="achievement">Наименование достижения</label>
								<input type="hidden" id="achievement" name="achievement" class="form-control">
							</div>
							<div class="col-xs-6 col-sm-5 col-md-4">
								<label for="achievementDoc">Подтверждающий документ</label>
								<input type="hidden" id="achievementDoc" name="achievementDoc" class="form-control">
							</div>
						</p>
					</div>
					</br>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<button class="btn btn-primary btn-block" type="button" id="save5">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab6">
				<div class="container-fluid">
					 <div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<p>
								<label for="flang">Изучаемый иностранный язык</label>
								<input type="hidden" name="flang" id="flang" class="form-control" placeholder="Английский">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<label for="hostel">Нуждаетесь ли в общежитие?</label>
							<p>
								<input type="radio" name = "hostel" value="no" {% if hostel == False %} checked {% endif %}>Нет
								<input type="radio" name = "hostel" value="yes" {% if hostel == True %} checked {% endif %}>Да
							</p>
						</div>
					</div>
					<p>
						<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<label for="liableForMilit">Являетесь ли вы военнообязанным?</label>
									<p>
										<input type="radio" name="liableForMilit" value="no" {% if liableForMilit == False %} checked {% endif %}>Невоеннообязанный
										<input type="radio" name="liableForMilit" value="yes" {% if liableForMilit == True %} checked {% endif %}>Военнообязанный
									</p>
								</div>
						</div>
					</p>
					<p>
						<div class="row" id ="isServedRow" {% if liableForMilit == False %} hidden {% endif %}>
								<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
									<label for="isServed">Служили в армии?</label>
									<p>
										<input type="radio" name="isServed" value="no" {% if isServed == False %} checked {% endif %}>Нет
										<input type="radio" name="isServed" value="yes" {% if isServed == True %} checked {% endif %} >Да
									</p>
								</div>
						</div>
					</p>
					<p>
						<div class="row" id="armyRow" {% if isServed == False or liableForMilit == False %} hidden {% endif %}>
								<div class="col-xs-6 col-sm-5 col-md-4 col-md-offset-2">
									<label for="yeararmy">Год увольнения из рядов РА</label>
									<input type="text" name="yeararmy" id="yeararmy" class="form-control" placeholder="2014" {% if yeararmy %} value={{yeararmy}} {% endif %}>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-4">
									<label for="rank">Воинское звание</label>
									<input type="hidden" name="rank" id="rank" class="form-control">
								</div>
						</div>
					</p>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
							<button class="btn btn-primary btn-block" type="button" id="save7">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
			<ul class="pager wizard">
				<li class="previous"><a href="javascript:;">Предыдущий</a></li>
				<li class="next"><a href="javascript:;">Следующий</a></li>
				<li class="next finish" style="display:none;"><a href="javascript:;">Завершить</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}