{% extends 'anketa/profile.html' %}
{% load staticfiles %}
{% block scripts %}
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>
<script>
	$(document).ready(function() 
	{
		$('#rootwizard').bootstrapWizard(
		{
			onTabShow: function(tab, navigation, index) 
			{
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				document.getElementById("progress-bar").style.width=$percent+'%';
				// If it's the last tab then hide the last button and show the finish instead
				if($current >= $total) 
				{
					$('#rootwizard').find('.pager .next').hide();
					$('#rootwizard').find('.pager .finish').show();
					$('#rootwizard').find('.pager .finish').removeClass('disabled');
				} 
				else 
				{
					$('#rootwizard').find('.pager .next').show();
					$('#rootwizard').find('.pager .finish').hide();
				}
			}
		});
	});
</script>
{% endblock %}
{% block container %}
<div id="rootwizard" class="col-md-9 col-xs-12 col-sm-12">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul>
					<li><a href="#tab1" data-toggle="tab">Личные данные</a></li>
					<li><a href="#tab2" data-toggle="tab">Документы</a></li>
					<li><a href="#tab3" data-toggle="tab">Адрес</a></li>
					<li><a href="#tab4" data-toggle="tab">Экзамены</a></li>
					<li><a href="#tab5" data-toggle="tab">Льготы</a></li>
					<li><a href="#tab6" data-toggle="tab">Личные достижения</a></li>
					<li><a href="#tab7" data-toggle="tab">Прочее</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="progress">
		<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" style=""></div>
	</div>
	<div class="tab-content">
		<div class="tab-pane" id="tab1">
			<div class = "container-fluid">
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="sname">Фамилия</label>
							<input type = "text" name= "sname" id = "sname" class = "form-control" placeholder = "Иванов">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="name">Имя</label>
							<input type = "text" name= "name" id = "name" class = "form-control" placeholder = "Иван">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="mname">Отчество</label>
							<input type="text" name = "mname" id ="mname" class="form-control" placeholder="Иванович">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
						<p>
							<label for="birthday">Дата рождения</label>
							<input type="date" name = "birthday" id ="birthday" value="1997-01-01" class="form-control">
						</p>
					</div>
					<div class ="col-xs-3 col-sm-6 col-md-6">
						<label for="sex">Пол</label>    
							<p>
								<input type="radio" name = "hostel" value="p1">Мужской
								<input type="radio" name = "hostel" value="p2">Женский
							</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="birthplace">Место рождения</label>
							<input type="text" name = "birthplace" id ="birthplace" class="form-control" placeholder="Татуин">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
						<p>
							<label for="nation">Национальность(по желанию)</label>
							<input id ="nation" name="nation" class="form-control" placeholder="Саха">
						</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
						<p>
							<label for="citizenship">Гражданство</label>
							<input id="citizenship" name="citizenship" class="form-control" placeholder="РФ" />
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
						<p>
							<label for="phone">Контактный телефон</label>
							<input type="tel" name = "phone" id ="phone" class="form-control" placeholder="Телефон в формате 8-ххх-ххххххх или 8-хххх-хххххх" pattern="(8-[0-9]{3}-[0-9]{7})|(8-[0-9]{4}-[0-9]{6})">
						</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
						<p>
							<label for="inila">СНИЛС</label>
							<input id="inila" name="inila" class="form-control" placeholder="123-456-789-00" />
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab2">
			<div class = "container-fluid">
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="doctype">Вид документа, удостоверяющего личность</label>
							<select name="doctype" id="doctype" size="1" class="form-control">
								<option value="passport">паспорт</option>
								<option value="zagran">загранпаспорт</option>
								<option value="svid">свидительство о рождении</option>
							</select>
						</p>
					</div>
				</div>
				<p>
					<div class = "row">
						<div class = "col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
							<label for="serialdoc">Серия</label>
							<input type = "text" name = "serialdoc" id = "serialdoc" class = "form-control" placeholder="1234">
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-2">
							<label for="numberdoc">Номер</label>
							<input type = "text" name = "numberdoc" id = "numberdoc" class = "form-control" placeholder="123456">
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-2">
							<label for="datedoc">Дата выдачи</label>
							<input type = "date" name = "datedoc" id = "datedoc" value="2011-01-01" class = "form-control" placeholder="">
						</div>
					</div>
				</p>
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="docissuer">Кем выдан</label>
							<input name= "docissuer" id = "docissuer" class = "form-control" placeholder = "Отделом УФМС по Российской Федерации, г. Якутск">
						</p>
					</div>
				</div>
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="edudoctype">Вид документа об образовании</label>
							<select name="edudoctype" id="edudoctype" size="1" class="form-control">
								<option value="attestat">аттестат</option>
								<option value="diplom">диплом</option>
							</select>
						</p>
					</div>
				</div>
				<p>
					<div class = "row">
						<div class = "col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
							<label for="serialedudoc">Серия</label>
							<input type = "text" name = "serialedudoc" id = "serialedudoc" class = "form-control" placeholder="1234">
						</div>
						<div class = "col-xs-3 col-sm-3 col-md-3">
							<label for="numberedudoc">Номер</label>
							<input type = "text" name = "numberedudoc" id = "numberedudoc" class = "form-control" placeholder="123456">
						</div>
					</div>
				</p>
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="prevedu">Предыдущие образование</label>
							<p>
								<input type = "radio" name= "prevedu" id = "prevedu"  value = "soo">СОО
								<input type = "radio" name= "prevedu" id = "prevedu"  value = "npo">НПО
								<input type = "radio" name= "prevedu" id = "prevedu"  value = "spo">СПО
								<input type = "radio" name= "prevedu" id = "prevedu"  value = "vpo">ВПО
							</p>
						</p>
					</div>
				</div>
				<p>
					<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
								<label for="datejoining">Дата поступления</label>
								<input type="date" name = "datejoining" id ="datejoining" class="form-control" value="2004-01-09">
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3">
								<label for="dateexiting">Дата окончания</label>
								<input type="date" name = "dateexiting" id ="dateexiting" class="form-control" value="2015-01-06">
							</div>
					</div>
				</p>
				<div class = "row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="preveduname">Название учебного заведения</label>
							<input name= "preveduname" id = "preveduname" class = "form-control" placeholder = "МОУ СОШ № 1, г. Якутск">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab3">
			<div class="container-fluid">
				<div class="row">
					<p>
						<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
							<label for="adrstype">Тип адреса</label>
							<select name="adrstype" id="adrstype" size="1" class="form-control">
								<option value="perm">По прописке</option>
								<option value="current">Фактический</option>
							</select>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">   
							<label for="adrsindex">Индекс</label>
							<input type = "text" name="adrsindex" id="adrsindex" class="form-control" placeholder="677000">
						</div>
					 </p>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="territory">Область</label>
							<input id="territory" class="form-control" placeholder="Республика Саха (Якутия)">
							<input name = "idterritory" id="idterritory" hidden>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="district">Район/улус</label>
							<input id="district" class="form-control" placeholder="">
							<input name = "iddistrict" id="iddistrict" hidden>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="city">Город/село</label>
							<input name="city" id="city" class="form-control" placeholder="Якутск">
							<input name="idcity" id="idcity" hidden>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="streets">Улица </label>
							<input id ="streets" name="streets" class="form-control" placeholder="Ленина">
						</p>
					</div>
				</div>
				<div class="row">
					<p>
					<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
						<label for="adrshouse">Дом</label>
						<input type="text" name="adrshouse" id="adrshouse" class="form-control" placeholder="1">
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2">
						<label for="adrsbuilding">Корпус</label>
						<input type="text" name="adrsbuilding" id="adrsbuilding" class="form-control" placeholder="1">
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2">
						<label for="adrsflat">Квартира</label>
						<input type="text" name="adrsflat" id="adrsflat" class="form-control" placeholder="1">
					</div>
					</p>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="option1">Адрес прописки совпадает с адресом факт. места жительства</label>
							<br>
							<input type="radio" name = "option1" value="a11">Нет
							<input type="radio" name = "option1" value="a12">Да
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
						   <b>Прошу засчитать рез-ты ЕГЭ</b>
						</p>
					</div>
				</div>
				<div id="parentsubjectId" class="row">
					<div>
						<p>
						<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
							<label for="subject[1]">Дисциплина</label>
							<input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика">
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
							<label for="points[1]">Баллы</label>
							<input name="points[1]" id="points[1]" class="form-control" placeholder="100">
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1">
							<label for="year[1]">Год</label>
							<input name="year[1]" id="year[1]" class="form-control" placeholder="2015">
						</div>
						<br>
						<a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
						<a style="" onclick="return addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
						</p>
					</div>
				</div>
			<br>
			<br>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
						   <b>Также прошу допустить к вступительным испытаниям по следующим предметам</b>
						</p>
					</div>
				</div>
				<div class="row">
					<p>
						<div id="parentsubjectId" class="row">
					<div>
						<p>
						<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
							<label for="subject[1]">Дисциплина</label>
							<input name="subject[1]" id="subject[1]" class="form-control" placeholder="Математика">
						</div>
						<br>
						<a style="" onclick="return deleteField(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
						<a style="" onclick="return addField()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
						</p>
					</div>
				</div>
					</p>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
						   <b>Прошу создать специальные условия при сдаче вступ. исп-й в связи с ограниченными возможностями здоровья</b>
							<br>
							<input type="radio" name="option5" value="a51">Нет
							<input type="radio" name="option5" value="a52">Да
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab5">
			<div class="container-fluid">
				<div class="row">
					<p>
						<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
							<label for="privcat">Категория</label>
							<input type="text" id="privcat" size="1" class="form-control">
						</div>
					</p>
				</div>
				<div class="row">
					<p>
						<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
							<label for="privtype">Тип</label>
							<input type="text" id="privtype" size="1" class="form-control">
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab6">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<label for="persach">Имеются ли достижения?</label>
						<p>
							<input type="radio" name = "persach" value="a1">Нет
							<input type="radio" name = "persach" value="a2">Да
						</p>
					</div>
				</div>
				<div id="parentpersachId" class="row">
					<div>
						<p>
						<div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-3">
							<label for="achievname[1]">Наименование достижения</label>
							<input name="achievname[1]" id="achievname[1]" class="form-control" placeholder="По жизни чемпион">
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
							<label for="proof[1]">Подтверждающие документы</label>
							<input name="proof[1]" id="proof[1]" class="form-control" placeholder="Я тебе говорю">
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
							<label for="numbofpoints[1]">Причисляемый балл</label>
							<input name="numbofpoints[1]" id="numbofpoints[1]" class="form-control" placeholder="+100">
						</div>
						<br>
						<a style="" onclick="return deleteFieldPersach(this)" href="#"><span class="glyphicon glyphicon-minus"></span></a>
						<a style="" onclick="return addFieldPersach()" href="#"><span class="glyphicon glyphicon-plus"></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab7">
			<div class="container-fluid">
				 <div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<p>
							<label for="flang">Изучаемый иностранный язык</label>
							<input name="flang" id="flang" class="form-control" placeholder="Английский">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
						<label for="hostel">Нуждаетесь ли в общежитие?</label>
						<p>
							<input type="radio" name = "hostel" value="a1">Нет
							<input type="radio" name = "hostel" value="a2">Да
						</p>
					</div>
				</div>
				<p>
					<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
								<label for="option6">Являетесь ли вы военнообязанным?</label>
								<p>
									<input type="radio" name="option6" value="a61">Невоеннообязанный
									<input type="radio" name="option6" value="a62">Военнообязанный
								</p>
							</div>
					</div>
				</p>
				<p>
					<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
								<label for="option7">Служили в армии?</label>
								<p>
									<input type="radio" name="option7" value="a61">Нет
									<input type="radio" name="option7" value="a61">Да
								</p>
							</div>
					</div>
				</p>
				<p>
					<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3">
								<label for="yeararmy">Год увольнения из рядов РА</label>
								<input type="text" name="yeararmy" id="yeararmy" class="form-control" placeholder="2014">
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3">
								<label for="rank">Воинское звание</label>
								<input name="rank" id="rank" class="form-control" placeholder="капитан">
							</div>
							<p><button type="submit" class="btn btn-default" name="save">Сохранить</button></p>
				
					</div>
				</p>
			</div>
		</div>
		<ul class="pager wizard">
			<li class="previous"><a href="javascript:;">Предыдущий</a></li>
			<li class="next"><a href="javascript:;">Следующий</a></li>
		</ul>
	</div>
</div>
{% endblock %}