{% extends "anketa/base.html" %}
{% load staticfiles %}
{% block additionalcss %}
<link href="{% static "anketa/css/prettify.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<!-- sidebar -->
		{% block leftmenu %}
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			<div class="panel panel-info">
				<div class="panel-heading">Меню</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li {% if currentpage == 1 %} class="active"> <a href="#"> {% else %}> <a href="{% url 'profile' %}"> {% endif %}Личный кабинет</a></li>
						<li {% if currentpage == 2 %} class="active"> <a href="#"> {% else %}> <a href="{% url 'persondata' %}"> {% endif %}Личные данные</a></li>
						<li {% if currentpage == 3 %} class="active"> <a href="#"> {% else %}> <a href="{% url 'applicationList' %}"> {% endif %}Заявления</a></li>
						<li {% if currentpage == 4 %} class="active"> <a href="#"> {% else %}> <a href="{% url 'account' %}"> {% endif %}Учетная запись</a></li>
						<li><a href="{% url 'authapp:logout' %}">Выйти</a></li>
					</ul>
				</div>
			</div>
		</div>
		{% endblock %}
		<!-- main area -->
		{% block container %}
		<div class="col-md-9 col-xs-10 col-sm-8">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Личные данные</h3>
						</div>
						<div class="panel-body">
							<div class="form-group has-success has-feedback">
								<input type="button" class="form-control" id="personData" aria-describedby="personDataStatus" value = "Личные данные" disabled>
								<span id = "personDataIcon"class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
								<span id="personDataStatus" class="sr-only"></span>
							</div>
							<div class="form-group has-warning has-feedback">
								<input type="button" class="form-control" id="documents" aria-describedby="documentsStatus" value = "Документы">
								<span id= "documentsIconclass" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
								<span id="documentsStatus" class="sr-only"></span>
							</div>
							<div class="form-group has-error has-feedback">
								<input type="button" class="form-control" id="contacts" aria-describedby="contactsStatus" value ="Контакты">
								<span id="contactsIcon"class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span id="contactsStatus" class="sr-only"></span>
							</div>
							<div class="form-group has-success has-feedback">
								<input type="button" class="form-control" id="personParents" aria-describedby="personParentsStatus" value = "Родители" disabled>
								<span id ="personParentsIcon"class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
								<span id="personParentsStatus" class="sr-only"></span>
							</div>
							<div class="form-group has-success has-feedback">
								<input type="button" class="form-control" id="achs" aria-describedby="achsStatus" value = "Достижения/льготы" disabled>
								<span id="achsIcon" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
								<span id="achsStatus" class="sr-only"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Инструкция</h3>
						</div>
						<div class="panel-body">
						<p>
							Здравствуйте, Вы находитесь в личном кабинете абитуриента. В личном кабинете содержится информация о прогрессе заполнения личных данных, а также здесь Вы можете отследить ваши заявления.
						</p>
						<p>
							Перейдите на страницу "Личные данные", для заполнения информации, необходимой для подачи заявления для поступления.
						</p>
						<p>
							После заполнения личных данных, у Вас появится возможность для подачи заявлений, для этого перейдите на страницу "Заявления".
						</p>
						<p>
							Также Вы можете изменить электронную почту и пароль. Для этого перейдите на страницу "Учетная запись".
						</p>

						

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Заявления</h3>
						</div>
						<div class="panel-body">
						{% if applications %}
							<table class="table">
								<thead>
									<tr>
										<th>Номер заявления</th>
										<th>Институт/факультет</th>
										<th>Направление/специальность</th>
										<th>Статус</th>
									</tr>
								</thead>
								<tbody>
									{% for item in applications %}
										<tr {% if item.appState.value == "Поданно" %} class="info" {% else %} {% if item.appState.value == "Экспортированно" %} class="success" {% else %} class="info" {% endif %} {% endif %}>
											<td>{{item.app.id}}</td>
											<td>{{item.app.department}}</td>
											<td>{{item.prof.profile.profile.edu_prog.name}}</td>
											<td>{{item.app.appState.value}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
						У вас пока нет заявлений :(
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</div> <!-- off canvas -->
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "anketa/js/jquery-1.10-min.js" %"></script>
<script src="{% static "anketa/js/jquery.bootstrap.wizard.js" %}"></script>
<script src="{% static "anketa/js/prettify.js" %}"></script>
<script src="{% static "anketa/js/bootstrap-typeahead.js" %}"></script>
<script>
function saveGlobalVar(name, value){
		localStorage.setItem(name, value);
	};
$(document).on("click","input[id='documents']", function(){
	window.location.href="{% url 'persondata' %}";
	saveGlobalVar('li',2);
});
$(document).on("click","input[id='personData']", function(){
	window.location.href="{% url 'persondata' %}";
});
$(document).on("click", "input[id='contacts']", function(){
	window.location.href="{% url 'persondata' %}";
	saveGlobalVar('li',3);
});
</script>
{% endblock %}