input {
    border: 1px solid darkgray;
}
.error input, .error select {
    border: 1px solid red;
}
.errornote, .alertnote {
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    line-height: 140%;
}
.errornote {
    background: #ffc url(../img/icon_error.gif) 5px .3em no-repeat;
}
.alertnote {
    background: #ffc url(../img/icon_alert.gif) 5px .3em no-repeat;
}