/* Space out content a bit */
body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header {
  display: table-cell
}

.header h3 {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  line-height: 38px;
  color: #A295B6;
}

.header .masthead {
  margin:0;
  padding-left:0;
  float:right;
}

.header .masthead li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 11px 0px 4px 0px;
  font-weight:bold;
  color: #A295B6;
}

.header .masthead > li + li {
  margin-left: 20px;
}

.header .masthead .active {
  border-bottom: 2px solid blue;
}

.header .masthead .done {
  border-bottom: 2px solid #33CC33;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Spacing for mobile first views */
.header, .footer {
  padding-right: 15px;
  padding-left: 15px;
  margin: 30px 0;
}

.wizardform{
  padding:0px;
  margin: 30px 0;
}

/* Customize container */
@media (min-width: 968px) {
  .container {
    max-width: 930px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .wizardform,
  .footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
}

.wizardform  h1 {
  text-align:center;
}

.wizardform  .lead {
  text-align:center;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: auto;
}

.wizardform > input, textarea, select, button, .form-control, .btn-primary {
  .border-radius(0) !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.wizardform .errormarks {
  padding-left:7px;
  text-align:left;
} 

ul.errorlist > li {
  margin-top:4px;
  font-size:60%;
  list-style: none;
  color:#a94442;
  line-height:34px;
}

@media screen and (min-resolution:128dpi) and (max-device-height:1920px){
  .footer {
    display:none;
  }

  .header h3 {
    display:none;
  } 

  .header {
    border-bottom: none;
  }

  .masthead {
    font-size:9px;
  }

  .masthead > li+li {
    margin-left: 6px;
  }
}

