<div class="modal fade" id="KladrModal" tabindex="-1" role="dialog" aria-labelledby="KladrLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="KladrLabel">Адрес</h4>
			</div>
			<div class="modal-body">
				<label for="region">Республика/Край/Область...</label>
				<input type="text" class="form-control" name="region" id="region" hidden>
				<label for="district">Район/Улус/...</label>
				<input type="text" class="form-control" name="district" id="district" hidden>
				<label for="city">Город</label>
				<input type="text" class="form-control" name="city" id="city" hidden>
				<label for="village">Населенный пункт</label>
				<input type="text" class="form-control" name="village" id="village" hidden>
				<label for="street">Улица</label>
				<input type="text" class="form-control" name="street" id="street" hidden>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="SaveKladr">Сохранить</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Отменить</button>
			</div>
		</div>
	</div>
</div>